.ui-effects-transfer{
	border: 1px dotted #000;}
#styleSwitcherDock{
	width:20px;
	height:22px;
	position:fixed;
	left:0px;
	bottom:10px;
	z-index:99999999;
	background:#333 url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/logo.png) no-repeat 0 -43px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-radius-topright:3px;
	-webkit-border-radius-bottomright:3px;
	border-radius-topright:3px;
	border-radius-bottomright:3px;}
	#styleSwitcherDock.hover{
		background-position:-20px -43px;}
#styleSwitcherContainer{
	position:fixed;
	right:10px;
	bottom:10px;
	z-index:99999999;}
	#styleSwitcherContainer #styleSwitcher{
		width:204px;
		border:6px solid #888;
		position:relative;
		z-index:99999999;
		background:#333;
		-moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px;}
		#styleSwitcherContainer #styleSwitcher .shrinkBox{
			margin:0 10px;
			line-height:16px;
			border-top:1px dotted #444;}
			#styleSwitcherContainer #styleSwitcher .shrinkBox .shrinkTitle{
				padding:0 5px;
				display:block;
				position:relative;
				top:-8px;
				float:left;
				background:#333;
				font-weight:bold;
				color:#aaa;
				cursor:pointer;}
			#styleSwitcherContainer #styleSwitcher .shrinkBox .shrinkHandle{
				position:relative;
				top:-8px;
				float:right;
				background:#333;}
		#styleSwitcherContainer #styleSwitcher .switch{
			margin:0 10px 10px 10px;
			color:#aaa;}
			#styleSwitcherContainer #styleSwitcher .switch .customSwatchArea{
				margin-top:8px;
				padding-top:8px;
				display:none;
				border-top:1px dotted #444;
				line-height:22px;}
			#styleSwitcherContainer #styleSwitcher .switch.hide{
				display:none;}
				#styleSwitcherContainer #styleSwitcher .switch.export textarea{
					width:177px;
					height:65px;
					padding:4px 0;}
			#styleSwitcherContainer #styleSwitcher .titlebar{
				margin:1px 10px 20px 10px;
				padding-bottom:1px;
				border-bottom:1px solid #888;}
				#styleSwitcherContainer #styleSwitcher .titlebar .logo{
					width:134px;
					height:43px;
					display:block;
					background:#333 url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/logo.png) no-repeat -7px 0}
				#styleSwitcherContainer #styleSwitcher .titlebar .close{
					width:17px;
					margin:0;
					padding:2px;
					position:absolute;
					right:10px;
					top:10px;
					border:none;
					-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
					background:#00619F;}
					#styleSwitcherContainer #styleSwitcher .titlebar a.close.hover{
						background:#666;}
			#styleSwitcherContainer #styleSwitcher .switch select{
				margin-left:2px;
				padding:2px;
				border:2px solid #666;
				float:left;
				-moz-border-radius:4px;}
			#styleSwitcherContainer #styleSwitcher .colorpicker_trigger{
				width:19px;
				height:19px;
				margin-left:8px;
				margin-right:8px;
				float:left;
				background-image:none;
				background-color:#ffffff;
				position:relative;
				top:0;
				border:2px solid #666;
				-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
			#styleSwitcherContainer #styleSwitcher .switch.headers select{
				float:left;}
				
				
/* custom header bg */
.header-bg{
	width:960px;
	/*height:169px;*/
	display:block;
	position:relative;
	background-repeat:repeat-x;
	background-position:center left;}
	.header-bg.iter1{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_bokeh.png);}
	.header-bg.iter2{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_cityscape.png);}
	.header-bg.iter4{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_rising_sun.png);}
	.header-bg.iter5{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_spiral.png);}
	.header-bg.iter7{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_dots2.png);}
	.header-bg.iter8{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_brick.png);}
	.header-bg.iter9{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_corrugated.png);}
	.header-bg.iter10{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_diagonal.png);}
	.header-bg.iter12{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_grad1.png);}
	.header-bg.iter13{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_grad2.png);}
	.header-bg.iter14{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_grad3.png);}
	.header-bg.iter17{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_iceCreamCone.png);}
	.header-bg.iter19{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_mountains.png);}
	.header-bg.iter20{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_mystery.png);}
	.header-bg.iter23{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_stageDown.png);}
	.header-bg.iter24{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_stageUp.png);}
	.header-bg.iter27{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_glow1.png);}
	.header-bg.iter28{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_glow2.png);}
	.header-bg.iter29{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_swirls.png);}
	.header-bg.iter30{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_abstract1.png);}
	.header-bg.iter31{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_abstract2.png);}
	.header-bg.iter32{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_abstract3.png);}
	.header-bg.iter33{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_starburst.png);}
	.header-bg.iter34{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_starburst2.png);}
	.header-bg.iter35{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_burst.png);}
	.header-bg.iter36{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_boxy.png);}
	.header-bg.iter37{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_boxy2.png);}
	.header-bg.iter38{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_wave.png);}
	.header-bg.iter39{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_wave2.png);}
	.header-bg.iter40{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_grad_lines.png);}
	.header-bg.iter41{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_grad_diagonals.png);}
	.header-bg.iter42{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_grad_hatch.png);}
	.header-bg.iter43{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_grad_grid.png);}
	.header-bg.iter44{background-image:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_theme_palette/resources/images/headers_grad_crosshatch.png);}
			#styleSwitcherContainer #styleSwitcher .button{
				margin:0;
				padding:4px 8px;
				border:1px solid #666;;
				float:none;
				-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
				background:#00619F;
				color:#aaa;}
				#styleSwitcherContainer #styleSwitcher .button.hover{
					background:#666;
					color:#222;}