/* TEXT ADS */

#text-ad-wrapper {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 10px 5px 5px 10px;
    margin-bottom: 10px;
    font-size: 12px;
    cursor: default;
}

#text-ad-wrapper .text-ad-title,
#text-ad-wrapper .text-ad-title a:link,
#text-ad-wrapper .text-ad-title a:visited {
    color: #711C1A;
    font-weight: bold;
    text-decoration: underline;
}

#text-ad-wrapper .text-ad-domain a:link,
#text-ad-wrapper .text-ad-domain a:visited {
    color: #2e8ea2;
    font-weight: bold;
    font-size: 11px;
}

#text-ad-wrapper .text-ad-domain a:hover {
    text-underline: none;
}

#text-ad-wrapper #text-ad {
    background: #CCCCCC;
    border-radius: 4px 0 4px 0;
    bottom: -5px;
    float: right;
    font-size: 10px;
    padding: 3px 5px;
    position: relative;
    right: -5px;
}



/* EXPANDABLE */
.expandable-flash-cover{
    background:url('http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_advertising/resources/images/1x1.png')
}

/* OPTIMIZED CSS FOR ADS */
#tncms-region-ads-in-story > div {
    margin: 0 10px 10px 0;
}