/* comment styles */
#blox-comments{
    clear:both;
}
#user-comment-area h3 {margin-top: 15px;}
#user-comment-area .note{
    -moz-border-radius: 5px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    color:#666;
    float: right;
    clear:both;
    font-size: 12px;
    margin-top: 10px;
    padding: 2px;}
.comment{
    background:#EDEDED none repeat scroll 0 0;
    margin:25px 0 0;
    overflow:hidden;
    padding:5px 10px;
    width:auto; 
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    /* was 600px, modified to fix marketplace */
}
.comment textarea{
    width:100%;
    color:#d4d4d4;
    height:120px;
    background:none;
    border:none;
    overflow:auto;
}
.comment-list{
    width:100%;
    overflow:hidden;
    margin:0 0 20px;
    padding:0 0 0 5px;
    list-style:none;
}
.comment-list li{
    width:auto;
    overflow:hidden;
    margin:21px 0 0;
    position:relative;}
    .comment-list li.admin{}
    .comment-list li.admin.super{}
    .comment-list li.admin .badge{
        width:50px;
        margin-top:10px;
        padding: 2px 0;
        display: block;
        -webkit-border-radius:3px;    
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: none repeat scroll 0 0 #AA0000;
        color: white;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;}
    .comment-list .post .container p.commentEdited {
        font-size: 10px;
        font-style: italic;
        text-align:center;
        line-height:32px;
        
    }

    
/* replies */
    .comment-list .post.removed .notification{ 
        border: solid 2px #cc0000; 
        -moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
        padding:4px;  
        font-weight:bold;
        background:#fff;
    }
    .comment-list .post.removed  .notification h4{ font-size: 1.5em;  color: #cc0000; }

    .comment-list .post.reply{display:none;}
    .comment-list .post .replies{ padding-left:20px;border-left:solid 2px #dddddd;}
    .comment-list .post .replies .post.reply{display:block;}
    .comment-list .post .replies .post.reply.preview h4{font-weight:bold;}
    .comment-list .replies #newPost .buttons .reply-cancel{ display:block;background: none repeat scroll 0 0 #222222;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    margin: 16px 10px 0;
    overflow: hidden;
    width: 72px; 
    text-align:center;
    line-height:30px;
    }
    .comment-list .replies #newPost .buttons .reply-cancel:hover{text-decoration:none;}
    
    #newPost .buttons .reply-cancel{display:none;}
    
.user img{
    display:block;
    height:50px;
    margin:0 0 4px;
    width:50px;}
.user a {display:block;
    height:50px;
    overflow:hidden;
    width:50px;}
.user strong{
    display:block;
    font-size:12px;
    font-weight:bold;
    margin:0 0 1px;
    position:relative;
    top:-56px;
    }
.user em{
    color:#999999;
    font-size:10px;}
.user em span{color:#000;}
.comment .frame{
    float:left;
    width:83%;
    position:relative;
    border:1px solid #ddd;
    display:inline;
    background:#fff;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    font-size:12px;
    margin:2px 0 0 35px;}
	#blox-enhanced-announcements .comment .frame{
		width:80%}
    .comment .frame .container{
        padding:23px 10px 10px 21px;}

/*#blox-marketplace-comments .comment .frame{width: 629px;}*/
.comment .frame:after{
    display:block;
    content:"";
    clear:both;}
.comment .frame .bg{
    position:absolute;
    background:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_commenting/resources/images/bg-comment.png) no-repeat;
    /*width:30px;*/
    width:7%;
    height:29px;
    top:25px;
    left:-30px;}
.comment p{
    margin:0;
    line-height:18px;}
.comment p a.reply br{display:none;}
.author{
    font-size:11px;
    font-style:normal;
    margin:8px 0 0;
    text-align:right;
}

#newPost .buttons{overflow:auto;width:100%;height:auto;}
#newPost .buttons .share.on{float:right;margin-top:16px;margin-left:10px;margin-right:10px;line-height:30px;overflow:auto;padding:0 8px 0 12px;border:solid 1px #bbb;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;cursor:pointer;}
#newPost .buttons .share.on.active{background:#ddd;}
#newPost .buttons .share.on input{display:none;}
#newPost .buttons .share.on .icon{width:13px;height:13px;float:left;position:relative;top:9px;right:4px;background:url('http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_commenting/resources/images/social_trans.png') no-repeat 0 0;}
#newPost .buttons .share.on.twitter .icon{}
#newPost .buttons .share.on.facebook .icon{background-position:-13px 0;}
.btn-review{
    background:#222222 none repeat scroll 0 0;
    border:0 none;
    color:#FFFFFF;
    cursor:pointer;
    float:right;
    font-size:12px;
    font-weight:bold;
    height:30px;
    margin:16px 10px 0;
    overflow:hidden;
    width:129px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}

.tn-index-story p.tn-comments {
    font: italic 0.3em Arial, Verdana, Geneva, Helvetica, sans-serif;
    margin: -3px 0 0 5px;
    display: block;}

li.tn-comment-block-even,
li.tn-comment-block-odd {
    display: block;
    margin: 15px 0;
    background: #white;
    border: 16px solid #bbb;
    padding: 25px;}
#blox-story .comments h1 {
    font: bold 1em Arial, Verdana, Geneva, Helvetica, sans-serif;}

#blox-story .comments blockquote {
    font: normal 12px/19px Arial, Verdana, Geneva, Helvetica, sans-serif;
    margin:10px 0;
    padding:15px 0;}

.tn-comment-user img.tn-comments-avatar {
    height: 64px;
    width: 64px;
    margin: 0 12px 0 0;
    float:left;
    border: 5px solid #d7d7d7;
    display:block;}

.tn-comment-user .tn-comments-user-name {
    font: bold 1em Arial, Verdana, Geneva, Helvetica, sans-serif;
    display: block;
    padding:5px 0 6px 0;
    font-size:1.8em;}

.tn-comment-user .tn-comments-user-post-count {
    font: italic 0.8em Arial, Verdana, Geneva, Helvetica, sans-serif;
    display: block;}

.tn-comment-user .tn-comments-post-time {
    font: italic 0.8em Arial, Verdana, Geneva, Helvetica, sans-serif;
    display: block;}

.tn-comment-user:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;}

p.tn-comment-status {
    color: #CC3300;
    font: italic 0.8em Arial, Verdana, Geneva, Helvetica, sans-serif;
    display: block;}
.grid_8 #post-comment{
    /*width:600px;*/
    position:relative;}
#blox-marketplace-comments #post-comment{
    position:relative;}
    #post-comment fieldset{position:relative;}
    #post-comment label{
        -moz-border-radius: 8px;
        background:#E9EFF3 none repeat scroll 0 0;
        border:1px solid #547C9D;
        color:#333;
        display:block;
        font-size:14px;
        font-weight:bold;
        margin:20px 4px 0;
        padding:15px;}
    #post-comment label span{
        float:left;
        text-indent:-9999px;
        width:18px;}
    #post-comment label.error{
        -moz-border-radius: 8px;
        background:#FEF1EC none repeat scroll 0 0;
        border:1px solid #CD0A0A;
        color:#CD0A0A;
        display:block;
        font-size:14px;
        font-weight:bold;
        padding:15px;
    }
    #post-comment label.error span{
        background:transparent url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_commenting/resources/images/a.icon.gif) no-repeat scroll left center;
        float:left;
        text-indent:-9999px;
        width:18px;}
    #post-comment .submit{
        padding:5px 10px;
        border:3px solid #666;
        background:#888;
        font-size:15px;
        font-weight:bold;
        color:#fff;
        cursor:pointer;}
/* profile page */
#avatar,
#profile,
#comments{
    margin:10px;
    padding:25px;
    border:2px solid #ddd;
    border-top:16px solid #ddd;}
#avatar{overflow:auto;}
#profile-comments{
    padding:25px;
    border:2px solid #ddd;
    border-top:16px solid #ddd;    }
    #profile-comments #comment-form .submit{
        padding:5px 10px;
        border:3px solid #666;
        background:#888;
        font-size:15px;
        font-weight:bold;
        color:#fff;
        cursor:pointer;}    
    #avatar h3,
    #profile h3,
    #comments h3,
    #profile-comments h3{
        margin-bottom:25px;
        border:none;}
    #avatar img{
        display:block;}
    #avatar h1{
        font-size:0.8125em;
        font-weight:bold;}
    #avatar p{
        clear:both;}
    ul#comment-box{}
    ul#comment-box li{
        margin:10px 0;
        padding:10px;
        border:1px solid #ddd;
        border-top-width:8px;}
        ul#comment-box li .content{
            font-size:12px;
            line-height:19px;
            color:#666;}
        ul#comment-box li .post-time{
            margin:0 0 15px 0;
            padding:5px 0;
            border-bottom:1px dotted #bbb;
            display:block;
            font-size:11px;
            color:#cc0000;}
/* #tabBox{
    margin:10px;}
    .ui-tabs-hide { display: none; }
    .ui-tabs-panel{
        padding:25px;
        border:2px solid #555;
        border-top-width:20px;
        border-bottom-width:2px;
        clear:both;}
    ul.ui-tabs-nav{
        height:31px;
        margin:0;
        padding:0;}
        ul.ui-tabs-nav li{
            margin:0;
            padding:0;
            margin-right:10px;
            float:left;
            display:inline;
            border-bottom:0;
            background:#ddd;}
            ul.ui-tabs-nav li a{
                height:30px;
                padding:0 20px;
                line-height:30px;
                display:inline;
                text-decoration:none;
                color:#555;
                outline:none;}
            ul.ui-tabs-nav li.ui-tabs-selected{
                background:#555;}
                ul.ui-tabs-nav li.ui-tabs-selected a{
                    color:white;
                    text-decoration:none;}
                    ul.ui-tabs-nav li.ui-tabs-selected a:hover{
                        cursor:default;}
*/

.user{
    float:left;
    /*width:50px!important;*/
    width:10%; /*!important;*/
    overflow:hidden;}
.user img{
    height:50px;
    width:auto !important;}

#comment-log-in-area{
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #DDDDDD;
margin:5px 0 20px;
padding:20px;
text-align:left;
width:auto;
position:relative;
zoom:100%;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;}
#comment-log-in-area h3{
    color:#666666;
    text-align:center;
    margin:0;
    padding:0;
    font-weight:bold;
    font-size:24px;}
#comment-log-in-area ul{overflow:auto;}
#comment-log-in-area ul li{
    float:left;
    /*padding:5px 33px 10px;*/
    padding:5px 0 10px;
    /* width:210px; */
    width:49%;
    border-left:solid 1px #dddddd;}
#comment-log-in-area ul li:first-child{border-left:none;}
#comment-log-in-area .login p{
    margin-right: 30px;}
#comment-log-in-area .register p{
    margin-left: 30px;}
    
#comment-log-in-area .button a{display:block;font-size:16px;font-weight:bold;background:#547C9D;color:#ffffff;padding:8px;margin:0 0 10px;text-align:center;-moz-border-radius:16px;-webkit-border-radius:16px;}
#comment-log-in-area .button a:hover{text-decoration:none;}
/* .login,#comment-log-in-area .register */

.commentInfo { overflow:auto;text-align:right;display:block;margin:8px 0 0;color:#888888;height:24px; }
.commentInfo li{display:inline;font-size:11px;font-style:normal;border-left:solid 1px #888888;padding:0px;margin:0px;}
.commentInfo li:first-child{border-left:none;}
.commentInfo li .author{background:transparent url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_commenting/resources/images/icon-info.gif) no-repeat scroll 0 1px;padding-left:14px;}
.commentInfo li .commentLink { padding:0 0 0 20px;margin:0;background:transparent url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_commenting/resources/images/icon-link.gif) no-repeat scroll 6px 1px; }
.commentInfo li .commentReply{margin:0 6px;padding:1px 8px;background:#000;color:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;line-height:16px;font-weight:bold;}
.commentInfo li .commentReply:hover{text-decoration:none;}
.commentInfo li .commentReplies{padding:0 6px;}
.commentInfo li .preview-note{padding:0 6px;}
.commentInfo li form.reportAbuse{ display:inline;padding:0;font-size:11px;font-style:normal;margin:0;}
.commentInfo li form.reportAbuse .reportAbuseBtn{margin:0px;border:none;background:transparent url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_commenting/resources/images/icon-alert-grey.gif) no-repeat scroll 4px 1px;padding:0px;text-align:right;width:55px;cursor:pointer;}
.commentInfo li .commentReported{color:#cc0000;padding-left:20px;background:transparent url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_commenting/resources/images/icon-alert-red.gif) no-repeat scroll 4px 1px;}
.commentInfo li .not.commentReported{color:#888888;background:transparent url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_commenting/resources/images/icon-alert-grey.gif) no-repeat scroll 4px 1px;}
.commentInfo li.share.with{padding-left:8px;padding-right:8px;}
.commentInfo li.most.important{border:none;margin-left:16px;float:right;}
.post.preview .commentInfo li{display:none;}
.post.preview .commentInfo li.preview-note{display:block;}

.post.preview .commentInfo li.share.with{margin-left:8px;}

.readMore{ background:#888888 none repeat scroll 0 0;color:#FFFFFF;display:block;left:-21px;padding:4px 28px 4px 4px;position:relative;top:10px;width:100%; }

/* .comment-list li.reported{display:none;} */

/*--- Smileys ---*/
.blox_emoticons {
    width:19px;
    height:19px;
    margin:2px 2px 2px 5px;
    display: -moz-inline-box; /* Support for Firefox 2 */
    display:inline-block; /* FF3, Opera, Safari */
    overflow:hidden;
    text-indent:-9999px;
    background:url(http://bloximages.newyork1.vip.townnews.com/hngnews.com/content/tncms/live/components/core_commenting/resources/images/smiley_sprite.png) no-repeat;
    zoom:1;
    cursor:pointer;
    *padding:0 1px 0 1px;
    }
        .sprite-angry { background-position: 0 0;
            height:18px; } 
        .sprite-ban {background-position:0 -29px;
            height:50px;
            width:56px;} 
        .sprite-beam { background-position: 0 -88px; } 
        .sprite-blink { background-position: 0 -113px; } 
        .sprite-censored { background-position: 0 -138px;
            width:34px; } 
        .sprite-cool { background-position: 0 -161px; } 
        .sprite-crying { background-position: 0 -186px;
            height:18px; } 
        .sprite-happybirthday { background-position: 0 -209px;
            height:26px;
            width:80px; } 
        .sprite-huh { background-position: 0 -240px; } 
        .sprite-innocent { background-position: 0 -265px;
            height:22px; } 
        .sprite-lol { background-position: 0 -292px; } 
        .sprite-offtopic { background-position: 0 -317px;
            height:50px;
            width:45px; } 
        .sprite-rolleyes { background-position: 0 -373px; } 
        .sprite-sad { background-position: 0 -398px; } 
        .sprite-scared { background-position: 0 -423px;
            height:20px; } 
        .sprite-sleep { background-position: 0 -449px; } 
        .sprite-sleeping { background-position: 0 -474px;
            height:25px; } 
        .sprite-smile { background-position: 0 -505px; } 
        .sprite-sneaky { background-position: 0 -530px; } 
        .sprite-spam { background-position: 0 -555px;
            height:51px;
            width:50px; } 
        .sprite-tongue { background-position: 0 -612px; } 
        .sprite-unsure { background-position: 0 -637px; } 
        .sprite-whistling { background-position: 0 -660px; } 
        .sprite-wink { background-position: 0 -683px; } 
        .sprite-love { background-position: 0 -708px;
            height:28px;
            width:21px; } 
        .sprite-yawn { background-position: 0 -742px;
            height: 18px; } 
        .sprite-batman { background-position:0 -771px;
            height:25px; } 
        .sprite-ninja { background-position:0 -807px;
            height:18px;} 
        .sprite-pirate { background-position:0 -835px;
            height:18px;} 
        .sprite-alien { background-position:0 -864px;
            height:19px;} 
        .sprite-thumbdown { background-position:0 -914px;
            height:19px;} 
        .sprite-thumbup { background-position:0 -889px;
            height:19px;} 
        .sprite-tongue_smile { background-position:0 -940px;
            height:19px;} 
        .sprite-ohmy {background-position:-24px -940px;
            height:19px;} 

#emoticon-control{
    width:116px;
    height:24px;
    line-height:20px;
    border:1px solid #ddd;
    background:#ffffff;
    float:right;
    margin-right:15px;
    padding-right:57px;
    text-align:right;
    position:relative;}
    #emoticon-control a{
        text-decoration:none;}
        #emoticon-control a:hover{
            text-decoration:none;}
        #emoticon-control a.more-icons{
        /*    position:relative;
            top:-5px;
            margin-left:10px; */
        }
        #emoticon-control a .button{
            height:18px;
            margin:0 1px 0 0;
            padding:0 5px;
            overflow:hidden;
            display:inline-block;
            position:absolute;
            top:3px;
            right: 3px;
            line-height:18px;
            background:#222222 none repeat scroll 0 0;
            color:white;
            -moz-border-radius:2px;
            -webkit-border-radius:2px;
            border-radius:2px;
            cursor:pointer;
            }

        #emoticon-control a.button.less-icons{
            margin-left:13px;
            position: absolute;
            top:2px;
            right:3px;
        }
#more-icons-area{
    width:320px;
    height:165px;
    top:-1px;
    right:-1px;
    display:block;
    position:absolute;
    background:#ffffff;
    border:solid 1px #dddddd;
    padding:1px;
    z-index:100;}
    #more-icons-area .icon-row{margin-bottom:3px;padding-right:15px;position:relative;top:-1px;text-align:right; float: right;clear:both;}
    #more-icons-area .icon-row.top{text-align:right;right:-1px;top:-1px;padding-right:57px;float: right;}
    #more-icons-area .icon-row.oversize{padding-right:0px;}
    #more-icons-area a.button{
        width:33px;
        height:18px;
        margin:1px 1px 0 32px;;
        padding:0 5px;
        display:block;
        overflow:hidden;
        position:relative;
        top:2px;
        right: 3px;
        float:right;
        line-height:18px;
        background:#222222 none repeat scroll 0 0;
        color:white;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        border-radius:2px;
        *top:-2px;
        *margin:0 1px 0 0px;
        *width:32px;
        }
#newPost .frame{
    *z-index:-1;
}

#blox-marketplace-comments .comment-list .comment .frame {
    width:480px;
}

#comments-top{text-align:center;margin-top:25px;}

.comment-list .username .award{display:block;}

#comment-rules{
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #DDDDDD;
    margin:5px 0 20px 0;
    overflow:auto;
    padding:20px;
    text-align:left;
    width:auto;}
    #comment-rules h3,
    #user-comment-area h3.header{color:#666666;
    font-size:24px;
    font-weight:bold;
    margin:0 0 20px;
    padding:0;
    text-align:center;}
    #comment-rules .rules-columns{overflow:auto;width:auto;max-width:555px;margin:auto;}
    #comment-rules ul.rules{
        width:49%;
        overflow:auto;float:left;border-left:solid 1px #ddd;}
    #comment-rules ul.rules.first{border-left:none;}
    #comment-rules ul.rules li{
        float:left;
        overflow:auto;
        padding:12px 28px;
        width:auto;}
        #comment-rules ul.rules li span.rule-number{
            background:none repeat scroll 0 0 #CCCCCC;
            color:#FFFFFF;
            display:block;
            float:left;
            font-size:20px;
            font-weight:bold;
            height:42px;
            line-height:42px;
            text-align:center;
            width:42px;
            -moz-border-radius:21px;-webkit-border-radius:21px;border-radius:21px;
        }
        #comment-rules ul.rules li span.rule-text{
            display:block;
            font-size:12px;
            line-height:16px;
            margin-left:50px;
            }
            #comment-rules ul.rules li span.rule-text .short{font-weight:bold;display:block;color:#333333;}
.commentText{
    color:#000;}            

#blox-comments .comment .frame fieldset{display:inline;}

#user-comment-area #comment-note h3 {
    font-size: 14px;
    padding: 10px;}

/* Grid Tweaks */
.container_12 .grid_6 #blox-comments .comment .frame{
    width:81%;
    margin-left:10px;}
.container_12 .grid_6 #blox-comments .comment .user{width:12%}
/*#blox-comments.grid-160_9-4-3 .comment .frame,
#blox-comments.grid-160_8-5-3 .comment .frame,
#blox-comments.grid-160_3-5-5-3 .comment .frame
{width:610px;}

#blox-comments.grid-160_leftcol_3-6-4-3 #comment-rules ul.rules,
#blox-comments.grid-160_leftcol_3-4-6-3 #comment-rules ul.rules,
#blox-comments.grid-160_leftcol_3-5-5-3 #comment-rules ul.rules
{width:258px;}

#blox-comments.grid-160_leftcol_3-6-4-3 #comment-rules ul.rules li,
#blox-comments.grid-160_leftcol_3-4-6-3 #comment-rules ul.rules li,
#blox-comments.grid-160_leftcol_3-5-5-3 #comment-rules ul.rules li
{width:200px;}*/

#blox-comments.grid-160_leftcol_3-6-4-3 .comment .frame .bg,
#blox-comments.grid-160_leftcol_3-4-6-3 .comment .frame .bg,
#blox-comments.grid-160_leftcol_3-5-5-3 .comment .frame .bg,
#blox-comments.grid-300_leftcol_2-3-3-4 .comment .frame .bg
{display:none;}

/*#blox-comments.grid-160_leftcol_3-6-4-3 .comment .frame,
#blox-comments.grid-160_leftcol_3-4-6-3 .comment .frame,
#blox-comments.grid-160_leftcol_3-5-5-3 .comment .frame
{margin-left:10px;width:450px;}*/

/* #blox-comments.grid-300_leftcol_2-3-3-4 #comment-rules ul.rules{width:390px;}
#blox-comments.grid-300_leftcol_2-3-3-4 #comment-rules ul.rules li{width:290px;} */
/*#blox-comments.grid-300_leftcol_2-3-3-4 .comment .frame{margin-left:10px;width:345px;}*/

#post-comment .word.count{
    font-size: 10px;
    font-weight: bold;
    left: 112px;
    position: absolute;
    top: 15px; 
}
#post-comment .word.count .number{
    float:none;
    background:transparent;
    border:none;
    width:2em;
    margin:0;
    padding:0;
    color:#000;
    text-align:right;
    display:inline;
}
#post-comment .word.count .over{ display:none;}
#post-comment .word.count.over{color:#AA0000;}
#post-comment .word.count.over .over{display:inline;}
#post-comment .word.count.over .below{display:none;}
#post-comment .word.count .error.reason{display:inline;}

#commenting-subscription-required-to-post{background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #DDDDDD;
margin: 5px 0 20px;
overflow: auto;
padding: 20px;
text-align: left;
width: auto;
font-size:12px;
line-height:16px;}

#comment-log-in-area.express.federated h3:first-child{display:block;}
#comment-log-in-area.express.federated #anonymous-posting h3{display:none;}

#comment-log-in-area.no-comments #anonymous-posting{display:none;}
#businessDetail #comment-log-in-area.no-comments{display:none;}