@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,600,700);
@import "../css/fontawesome-icons.css";
html {
  font-family: "Open Sans", Barlow, Helvetica, san-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a:focus {
  border: 0 solid yellow;
}
a,
a:link {
  color: #0E537A;
  text-decoration: none;
}
a:hover {
  color: #45515B;
  opacity: .8;
  text-decoration: underline;
}
.active a:link,
a.active {
  text-decoration: underline;
}
a:active,
a:link:active {
  color: #a5811c;
}
a:link .btn,
a .btn,
a.btn {
  text-decoration: none;
  color: #fff;
}
h1 {
  line-height: 1.2;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.button:hover {
  background-color: #ff3814;
}
figure img {
  max-width: 100%;
  object-fit: cover;
}
.btn {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #1b52af;
  background-repeat: repeat-x;
  border-color: #eaeaea;
  border-radius: 4px;
  border-style: Solid;
  border-width: 1px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  color: #f6f6f6;
  cursor: pointer;
  display: block;
  font-family: Open Sans;
  font-size: 18px;
  height: auto;
  letter-spacing: .09px;
  line-height: 28px;
  margin-bottom: 0;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  /*width: 100%;*/
}
.input,
input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=range]),
select,
textarea {
  background: #f6f6f6;
  border: 1px solid #6A7280;
  border-radius: 4px;
  box-sizing: border-box;
  color: #303640;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  outline: 0;
  padding: 6px 6px 6px 20px;
  transition: border linear .2s;
  vertical-align: middle;
  width: 100%;
  min-width: 100px;
}
a:link .btn,
a .btn,
a.btn {
  text-decoration: none;
  color: #fff;
}
::-webkit-input-placeholder {
  -webkit-font-smoothing: antialiased;
  -webkit-text-security: none;
  color: #898989;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  pointer-events: none;
  text-rendering: geometricPrecision;
}
.asterisk:-moz-placeholder {
  color: #303640;
  font-size: 28px;
  opacity: 1;
  position: relative;
  top: 10px;
}
.asterisk::-moz-placeholder {
  font-size: 28px;
  opacity: 1;
  position: relative;
  top: 10px;
}
.input.invalid,
input:not([type=checkbox]):not([type=radio]):not([type=button]).invalid,
select.invalid,
textarea.invalid {
  border: 2px solid #E93716;
}
.input,
input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=range]),
select,
textarea {
  background: #f6f6f6;
  border: 1px solid #6A7280;
  border-radius: 4px;
  box-sizing: border-box;
  color: #303640;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  outline: 0;
  padding: 6px 6px 6px 20px;
  transition: border linear .2s;
  vertical-align: middle;
  width: 100%;
  min-width: 100px;
}
.field .input-error-message {
  font-weight: normal;
  font-style: normal;
  color: #D81118;
  font-size: 16px;
  padding: 5px 0 0 0;
  vertical-align: top;
  line-height: 1;
}
.page-header {
  display: none;
}
#readout {
  background-color: white;
  position: fixed;
  z-index: 101;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 50px;
}
figure img {
  max-width: 100%;
  object-fit: cover;
}
/* CSS Document */
[id^="burger"] {
  display: none;
}
nav[role="navigation"] ul > li {
  display: block;
  width: 100%;
  grid-column: auto;
  background: transparent;
  border-bottom: 0;
}
/*large screen*/
@media (min-width: 968px) {
  #slogan div {
    margin-bottom: .02em;
    /*border: 1px solid green;*/
  }
  .nav-bar__list {
    background-color: #eef2f6;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    height: auto;
  }
  .nav-bar__list li {
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #dedfdd;
  }
  .nav-bar__list li:last-child {
    border-bottom: 0;
  }
  .nav-bar__list li:hover {
    display: block;
    background: #f9f9f9;
  }
  .nav-content {
    grid-column: -6;
    /*padding:0 20px 0 0;*/
    padding: 2px 20px 0 0;
    max-height: 720px;
    display: grid;
    grid-gap: 0px;
  }
  nav {
    margin: 0 20px;
    color: #0E537A;
    font-size: calc(13.32589286px);
  }
  ul {
    align-content: center;
    padding: 0;
    list-style: none;
    display: grid;
    justify-content: end;
    grid-gap: 1.10em;
    grid-auto-flow: column;
    white-space: nowrap;
  }
  .nav-bar__list {
    display: block;
  }
  .nav-dropdown {
    z-index: 2;
  }
  .nav-dropdown:after {
    position: relative;
    display: inline-block;
    content: "\e859";
    font-size: 11px;
    padding: 0 0 4px 5px;
    vertical-align: middle;
    line-height: normal;
  }
  .nav-dropdown:hover {
    color: #45515B;
    opacity: .8;
    text-decoration: underline;
  }
  .dropdown {
    display: inline-block;
  }
  .dropdown-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .dropdown-inner {
    border-radius: 3px;
    position: relative;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1015;
    background-color: #dedfdd;
    margin-top: 5px;
    margin-left: 0;
    height: 0;
    top: 55px;
    transform: translateY(-3em);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  .dropdown-hover:hover .dropdown-inner,
  .dropdown-open:checked ~ .dropdown-inner {
    opacity: 100;
    visibility: visible;
    display: block;
    height: auto;
    top: 0px;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
  .dropdown-hover:hover .dropdown-overlay,
  .dropdown-open:checked ~ .dropdown-overlay {
    display: block;
  }
  .nav-bar__list-item .nav-bar__list {
    position: absolute;
  }
  .nav-bar__list-item- {
    display: block;
  }
  .nav-bar__list- {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  nav[role="navigation"] ul > li {
    display: block;
    width: 100%;
    grid-column: auto;
    background: transparent;
    border-bottom: 0 solid transparent;
  }
  nav[role="navigation"] ul .nav-bar__list-item li {
    display: block;
    width: 100%;
    grid-column: auto;
    background: transparent;
    border-bottom: 1px solid #dedfdd;
  }
}
/*small screen*/
@media (max-width: 968px) {
  #slogan div {
    margin-bottom: .02em;
    /*border: 1px solid green;*/
  }
  .nav-content {
    position: relative;
    top: -80px;
    grid-column: -1;
    /* max-height: 720px; */
    display: grid;
    grid-gap: 0;
    /* display: none; */
  }
  .nav-content > input + label {
    position: absolute;
    top: 25px;
    right: 30px;
    height: 55px;
    width: 30px;
    z-index: 1015;
  }
  .nav-bar__list {
    background-color: #eef2f6;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    height: auto;
  }
  .nav-bar__list li {
    /*padding:10px 15px 10px 15px;*/
    padding: 20px 15px 20px 60px;
    border-bottom: 1px solid #dedfdd;
  }
  .nav-bar__list li:last-child {
    border-bottom: 0px solid transparent;
  }
  .nav-bar__list li:hover,
  nav[role="navigation"] ul > li:hover {
    display: block;
    background: #f9f9f9;
  }
  .nav-content > input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #020304;
    transition: 0.5s;
    z-index: 1005;
  }
  .nav-content > input + label span:first-child {
    top: 3px;
  }
  .nav-content > input + label span:last-child {
    top: 16px;
  }
  .nav-content > label:hover {
    cursor: pointer;
  }
  .nav-content > input:checked + label span {
    opacity: 0;
    top: 30%;
  }
  .nav-content > input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  .nav-content > input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
  .nav-content > input ~ nav {
    /* background: #eef2f6; */
    position: fixed;
    display: block;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1010;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow-x: hidden;
  }
  .nav-content > input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
  }
  .nav-content > input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
  }
  nav {
    grid-auto-columns: 1fr;
    color: #0E537A;
    font-size: calc(17.47916667px);
    display: grid;
  }
  nav ul {
    /* position: relative; */
    /* align-content: center; */
    /* width: 100%; */
    padding: 0;
    margin: 80px 0 0 0;
    /*margin: 130px 0 0 0;*/
    list-style: none;
    display: grid;
    height: auto;
    width: 100%;
    grid-column: -1;
    grid-auto-flow: row;
    white-space: nowrap;
  }
  .nav-bar__list {
    display: block;
    margin: 0 0 0 0;
  }
  a.fill-div,
  label.fill-div {
    display: block;
    padding: 20px 0;
    margin: 0 0 0 40px;
    height: 100%;
    width: 100%;
  }
  .nav-dropdown {
    z-index: 1012;
  }
  .nav-dropdown:after {
    position: relative;
    display: inline-block;
    content: "\f078";
    font-family: FontAwesome;
    font-size: 11px;
    padding: 0 0 4px 5px;
    vertical-align: middle;
    line-height: normal;
  }
  .nav-dropdown:hover {
    color: #45515B;
    opacity: .8;
    text-decoration: underline;
  }
  .dropdown {
    display: block;
  }
  .dropdown-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .dropdown-inner {
    border-radius: 3px;
    position: relative;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    background-color: #dedfdd;
    margin-top: 5px;
    margin-left: 0;
    height: 0;
    top: 0;
    transform: translateY(0);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  .dropdown-hover:hover .dropdown-inner,
  .dropdown-open:checked ~ .dropdown-inner {
    opacity: 100;
    visibility: visible;
    display: block;
    height: auto;
    top: 0;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
  .dropdown-hover:hover .dropdown-overlay,
  .dropdown-open:checked ~ .dropdown-overlay {
    display: block;
  }
  .nav-content {
    grid-column: -1;
    z-index: 1010;
    /* background-color: #eef2f6; */
  }
  nav[role="navigation"] ul > li {
    display: block;
    text-align: left;
    width: 100%;
    grid-column: 1;
    background: #eef2f6;
    border-bottom: 1px solid #dedfdd;
  }
}
#top-bar {
  grid-area: top-bar;
  display: grid;
  background: #F9F9F9;
  border-bottom: 1px solid #DEDFDD;
  height: 50px;
  left: 0;
  right: 0;
  grid-column: span 20;
  z-index: 2;
  place-items: center center;
  /*border: 1px blue solid;*/
  /*display: grid;
	  grid-gap: 5px;
	  grid-template-columns: repeat(3, 100px);
	  grid-template-rows: repeat(2, 100px);
	  justify-content: center;
	  align-content: center;*/
}
.cta-presentation {
  position: relative;
  display: block;
  font-family: Barlow Semi Condensed;
  font-weight: 600;
  font-size: 27px;
  line-height: 1;
  font-size: calc(20.32589286px);
  letter-spacing: 0.14px;
  color: #702020;
  margin: .20em 0 .25em 35px;
}
.cta-presentation:before {
  font-family: "fontawesome-icons";
  content: '\f274';
  font-weight: 400;
  font-size: 26px;
  font-size: calc(17.99107143px);
  position: absolute;
  display: inline-block;
  margin: 1px -35px 4px;
  /*left: 20px;
	top: 15px;*/
}
#top-bar a:link {
  /*color: #133a54;*/
  /*color: #0E537A;*/
  text-decoration: none;
}
#top-bar a:hover {
  color: #45515B;
  opacity: .8;
  text-decoration: none;
}
cta {
  display: none;
}
.cta-presentation-box {
  display: none;
}
.icon-calendar-check:before {
  display: none;
}
home {
  display: grid;
  grid-template-areas: "top-header top-header top-header" "header header header" "top-bar top-bar top-bar" "hero hero hero" ". . ." "left-column section right-column" ". . ." "footer footer footer";
  grid-template-rows: 50px 80px 50px 1fr 4.5vw 1fr 40px 1fr;
  /*grid-template-columns: minmax(6%, 500px) minmax(88%, 2700px) minmax(6%, 500px);*/
  /*grid-template-columns: 5fr minmax(70%, 6fr) 5fr;*/
  width: 100%;
  grid-gap: 0;
  height: 100vh;
  margin: 0;
}
hero {
  background-image: url(../img/background-hero-01-large-color-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  grid-area: hero;
  /*max-height: calc(35vh + 133vw/6);*/
}
.hero-background {
  /*background-image : url(../img/background-hero-01-large-color-02.jpg);
	background-repeat : no-repeat;

	background-size: cover;
	background-position: top left;*/
}
.hero-content {
  /*background-image : url(img/background-hero-01-large-color-02.jpg);
	background-repeat : no-repeat;

	background-size: cover;
	background-position: top left;*/
  padding: 0 20px 0 0;
  /*max-height: calc(100vh/2 - 3/4*100vw/2);
	 max-height: calc(100vh - 40px);*/
  /*height: calc(60vh + 45vw/5);*/
  max-height: 720px;
  /*max-height: calc(100vh - 100vw/5);*/
  /*min-height: 540px;*/
  /*min-height: calc(100vh/16 + 50vw - 40%);*/
  display: grid;
  grid-gap: 20px;
  /*justify-content: stretch;*/
  /*justify-items: stretch; */
  /*align-items: stretch;*/
  /*justify-content: space-evenly;*/
  /*align-self: stretch;*/
  /*justify-self: stretch;*/
  /*justify-content: space-between;*/
  /*border: 1px green solid;*/
  /*grid-auto-flow: column;*/
  grid-template-areas: " hero-teaser " " hero-video " " hero-qoute " " . " " . " " . " " . " " . ";
}
.hero-graphic img {
  /*grid-template: auto 1fr minmax(1rem, auto) auto / 100%;*/
  margin: 0 0 0 0;
  max-height: 681px;
  min-width: 164px;
  /*height: auto;*/
  height: auto;
  min-height: 330px;
  /*display: block;*/
  max-width: 100%;
  /*width: 100%;*/
  /*height: calc(100vh - 3/4*100vw/8);*/
  /*height: calc(100vw * (6/12));*/
  height: calc(39.13043478vw);
  /*object-fit: cover;*/
  place-items: baseline normal;
}
.hero-teaser {
  display: grid;
  grid-area: hero-teaser;
  font-family: Open Sans;
  font-weight: bold;
  /*font-size : 28px;*/
  /*font-size : 2.8rem;*/
  font-size: calc(18.5px);
  line-height: 1.23em;
  color: #2E3C4E;
  color: #2e3c4e;
  padding: 20px 0 5px 0;
  /*border: green 1px solid;*/
  place-items: center center;
}
.hero-teaser div {
  max-width: 25em;
  min-width: 320px;
  padding: 0.7em 0 .4em 0;
  /*border: black 1px solid;*/
  place-items: center center;
  margin: 0 auto;
}
.hero-qoute {
  grid-area: hero-qoute;
  font-family: Open Sans;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  /*font-size : 2.6rem;*/
  line-height: 28px;
  font-size: calc(15.17708333px);
  letter-spacing: 0.26px;
  color: #2E3C4E;
  color: #2e3c4e;
  /*border: black 1px solid;*/
  /*padding: 10px 0 0 0;*/
  place-items: center center;
  padding: .4vh 0 .9vh 0;
}
about {
  display: grid;
  grid-template-areas: "top-header top-header top-header" "header header header" "top-bar top-bar top-bar" "left-column section right-column" "footer footer footer";
  grid-template-rows: 50px 80px 50px 1fr auto;
  /*grid-template-columns: minmax(6%, 500px) minmax(88%, 2700px) minmax(6%, 500px);*/
  /*grid-template-columns: 2fr minmax(70%, 1fr) 2fr;*/
  grid-gap: 0;
  height: 100vh;
  margin: 0;
}
speaking,
book,
blog,
grid-wrapper,
promotional {
  display: grid;
  grid-template-areas: "top-header top-header top-header" "header header header" "top-bar top-bar top-bar" "section section section" "footer footer footer";
  grid-template-rows: 50px 80px 50px 1fr auto;
  /*grid-template-columns: minmax(6%, 500px) minmax(88%, 2700px) minmax(6%, 500px);*/
  /*grid-template-columns: 2fr minmax(70%, 1fr) 2fr;*/
  grid-gap: 0;
  height: 100vh;
  margin: 0;
}
speaking article {
  font-size: 18px;
  line-height: 32px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  /*grid-row-template: 100% minmax(200px, 1fr) minmax(200px, 1fr);*/
  place-content: space-around;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  padding: 40px 0;
  border-bottom: 2px solid #dfcb8d;
}
speaking article .first-column {
  /*margin-left: 15%;*/
  margin-left: calc(32%);
  /*margin-right: calc(5% + 20px);*/
}
promotions article .first-column {
  /*margin-left: 15%;*/
  margin-left: calc(35%);
  /*margin-right: calc(5% + 20px);*/
}
speaking article .second-column {
  margin-right: calc(35%);
}
speaking article:nth-child(even) {
  background: #f9f9f9;
}
speaking article:last-child {
  border-bottom: 0px solid transparent;
}
speaking article:first-child {
  border-top: 1px solid #dfcb8d;
}
speaking article .cta-presentation,
speaking article .cta-presentation:before {
  font-size: 26px;
}
speaking article .cta-presentation {
  padding: 10px 0 0;
}
speaking article a:link {
  display: block;
  /*color: #133a54;*/
  /*color: #0E537A;*/
  text-decoration: none;
}
speaking article a:hover {
  color: #45515B;
  opacity: .8;
  text-decoration: underline;
}
speaking article * p {
  /*padding-left: 1em;*/
}
promotional article {
  font-size: 18px;
  line-height: 32px;
  display: grid;
  grid-template-columns: 1fr;
  /*grid-row-template: 100% minmax(200px, 1fr) minmax(200px, 1fr);*/
  place-content: space-around;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  padding: 40px 0;
  border-bottom: 2px solid #dfcb8d;
}
promotional article .first-column {
  /*margin-left: 15%;*/
  /* margin: 0 calc(5% - 20px);*/
  margin: 0 calc(-11%);
  /*margin-right: calc(5% + 20px);*/
}
promotional article .second-column {
  margin: 0 calc(-15%);
}
promotional article:nth-child(even) {
  background: #f9f9f9;
}
promotional article:last-child {
  border-bottom: 0px solid transparent;
}
promotional article:first-child {
  border-top: 1px solid #dfcb8d;
}
book article {
  font-size: 18px;
  line-height: 32px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /*grid-row-template: 100% minmax(200px, 1fr) minmax(200px, 1fr);*/
  place-content: space-around;
  grid-column-gap: calc(22%);
  grid-row-gap: 20px;
  padding: 40px 0;
  border-bottom: 2px solid #dfcb8d;
}
blog article {
  font-size: 18px;
  line-height: 32px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-content: space-around;
  grid-column-gap: calc(22%);
  grid-row-gap: 20px;
  padding: 40px 0;
  /*border-bottom: 2px solid #dfcb8d;*/
}
book article {
  /*max-width: 1600px;*/
  margin: 0 auto;
  padding: 40px 80px;
}
blog article {
  /*max-width: 1600px;*/
  margin: 0 auto;
  padding: 40px 0px;
}
book article .first-column {
  /*margin-left: 15%;*/
  /*margin-left: calc(15% + 20px);*/
  /*margin-right: calc(5% + 20px);*/
}
book article .second-column {
  /*margin-right: calc(15% + 20px);*/
}
book article .third-column {
  /*margin-right: calc(15% + 20px);*/
  /*margin-right: calc(-60px + 65%/3);*/
}
book article:nth-child(even) {
  background: #f9f9f9;
}
book article:last-child {
  border-bottom: 0px solid transparent;
  font-size: 18px;
  line-height: 32px;
  display: grid;
  grid-template-columns: 1fr;
  /*grid-row-template: 100% minmax(200px, 1fr) minmax(200px, 1fr);*/
  place-content: space-around;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  padding: 40px 80px;
}
book article:first-child {
  border-top: 1px solid #dfcb8d;
}
blog article:first-child {
  border-top: 0px solid tranparent;
}
contact > left-column,
contact > right-column {
  background-color: #f9f9f9;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}
/*about*/
.about-container,
.book-container {
  display: grid;
  grid-gap: 20px;
  place-items: normal center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 40px auto;
}
.about-container .images {
  display: grid;
  /* max-width: 290px;*/
  max-height: 290px;
  max-height: 800px;
  width: auto;
  /*min-width: 350px;*/
  min-height: 350px;
  /*border: 1px solid red;*/
  overflow: hidden;
}
.about-container .images img {
  object-fit: cover;
  justify-self: center;
  align-self: center;
  height: auto;
  /* min-width: 190px;
	 min-height: 190px;*/
  max-height: 800px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  place-self: start center;
  max-width: 390px;
  max-height: 390px;
  padding: 0 0 40px 0;
}
.speaking-grid .images,
.book-grid .images {
  display: grid;
  /* max-width: 290px;*/
  /* max-height: 290px;*/
  max-height: 800px;
  width: auto;
  /*min-width: 350px;*/
  /* min-height: 350px;*/
  /*border: 1px solid red;*/
  /*min-width: 250px;
overflow: hidden;*/
}
.speaking-grid .images img,
.book-grid .images img {
  object-fit: cover;
  justify-self: center;
  align-self: center;
  height: auto;
  min-width: 200px;
  /*min-height: 190px;*/
  max-height: 800px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  place-self: start center;
  max-width: 320px;
  /*max-height: 390px;*/
  /*padding: 20px 0 0 0;*/
}
.book-container .images {
  display: grid;
  /* max-width: 290px;*/
  /*max-height: 290px;*/
  max-height: 800px;
  width: auto;
  min-width: 120px;
  min-height: 350px;
  /*border: 1px solid red;*/
  overflow: hidden;
}
.about-grid p {
  margin-bottom: 1.3em;
  margin-top: 0;
}
.about-grid h1,
.about-grid h2,
.about-grid h3,
.about-grid h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
}
.about-grid h1 {
  margin-top: 0;
  font-size: 3.157em;
}
.about-grid h2 {
  font-size: 2.369em;
}
.about-grid h3 {
  font-size: 1.777em;
}
.about-grid h4 {
  font-size: 1.333em;
}
.about-grid small,
.about-grid .font_small {
  font-size: 0.75em;
}
.card-box {
  background: #F6F6F6;
  background: #f6f6f6;
  border-style: Solid;
  border-color: #DEDFDD;
  border-color: #dedfdd;
  border-width: 1px;
  /*position : absolute ;
	left : 809px;
	top : 1030px;*/
  width: 300px;
  height: 395px;
  border-radius: 0px;
  /*  -moz-border-radius : 0px;
	  -webkit-border-radius : 0px;*/
}
.card {
  /*box-shadow: 0px 1px 5px #555;*/
  background-color: white;
  padding: 0rem;
  /*border: 1px solid blue;*/
  transition: transform 0.1s ease-in;
  /*max-width: 320px;*/
  /*justify-content: center;
	align-content: center;*/
  /*grid-column: span 1;*/
  /*grid-column: 1fr;*/
  border-radius: 8px 8px 0 0;
  background: #F6F6F6;
  background: #f6f6f6;
  border-style: Solid;
  border-color: #DEDFDD;
  border-color: #dedfdd;
  border-width: 1px;
  overflow: hidden;
  display: block;
  /*min-width: 185px;*/
  /*max-width: 385px;*/
  min-width: calc(-37.5vw);
  max-width: calc(111vw);
  min-height: 322px;
  max-height: 400px;
  /*display:flex;*/
  /*flex-direction:column;
	min-height:100%;*/
}
.card:hover,
.card:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
  transform: scale(1.025);
}
.card__title {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 24px;
  font-size: calc(18.66071429px);
  line-height: 3.15rem;
  padding: 0.15rem;
  border-color: #F6F6F6;
  border-radius: 8px 8px 0 0;
}
.card-image01 {
  position: relative;
  padding: 0;
  /*line-height: 1.6em;*/
  color: #2E3C4E;
  color: #2e3c4e;
  /*border: 1px solid red;*/
  display: block;
  background-image: url(../img/matt-getting-mail-crop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: 300px 337px, cover;*/
  background-position: center center;
  margin: 0 auto;
  height: 100%;
  /* height: 337px;*/
  width: 100%;
  /*object-fit: cover;*/
  max-height: 403px;
  min-height: 273px;
}
.card-image02 {
  position: relative;
  padding: 0;
  /*line-height: 1.6em;*/
  color: #2E3C4E;
  color: #2e3c4e;
  /*border: 1px solid red;*/
  display: block;
  background-image: url(../img/able-bodied-like-me-book-400px--532px.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin: 0 auto;
  height: 100%;
  /* height: 337px;*/
  width: 100%;
  /*object-fit: cover;*/
  max-height: 403px;
  min-height: 273px;
}
.card-image03 {
  position: relative;
  padding: 0;
  /*line-height: 1.6em;*/
  color: #2E3C4E;
  color: #2e3c4e;
  /*border: 1px solid red;*/
  display: block;
  background-image: url(../img/matt-podium-300px.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  height: 100%;
  /* height: 337px;*/
  width: 100%;
  object-fit: cover;
  max-height: 403px;
  min-height: 273px;
}
.card .button {
  display: block;
  /*background-color: tomato;*/
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease-out;
}
.button:hover {
  background-color: #ff3814;
}
.card > img {
  display: grid;
  align-content: stretch;
  /* max-width: 100%;*/
  object-fit: cover;
}
footer h1 {
  font-family: Open Sans;
  font-size: 32px;
  font-size: calc(26.95833333px);
  font-weight: 300;
  line-height: 38px;
  color: #F6F6F6;
  color: #f6f6f6;
  margin: 1.0em 0 1.0vw 0;
  text-align: center;
}
footer hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #525A5B;
  margin: 10px 0 10px 0;
  padding: 0;
}
.disclaimer {
  display: block;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  /* font-family: 'graphein_prolight'; */
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 20px auto 20px auto;
  text-align: center;
}
.disclaimer a {
  color: #fff;
  /* font-family: 'graphein_prolight'; */
  font-weight: 300;
  font-style: normal;
  text-decoration: underline;
}
.disclaimer a:hover {
  color: #b2b9d3;
}
/*subscription box starts*/
.subscibe-box-wrap {
  text-align: left !important;
  font-family: Open Sans, Barlow, helvetica, san-serif;
  margin: 10px auto 15px;
  /*width: calc( 30% + (1024 - 720) * ( (100vw - 400px) / ( 1920 - 720) ));*/
}
.name {
  grid-area: name;
}
.subscribe {
  grid-area: subscribe;
}
.email {
  grid-area: email;
}
.subscribe-box {
  /*background-color: #fff;
	color: #444;*/
  width: 100%;
  margin-bottom: 10px;
}
.subscribe-box {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "name" "email" "subscribe";
}
.box {
  color: #fff;
  border-radius: 5px;
  padding: 0;
  /*font-size: 150%; */
}
.box label {
  /*display: inline-block;*/
  padding: 0 10px 0 0;
  /*min-width: 35px;*/
  /*border: 1px solid green;*/
  font-size: calc(13.47916667px);
}
.subscribe {
  /*background-color: #ccc;
	color: #444;*/
}
@media only screen and (min-width: 768px) {
  hero {
    max-height: calc(57.16666667vh);
  }
  .hero-content {
    /*grid-template-columns: auto auto;*/
    grid-template-areas: " hero-teaser hero-teaser hero-graphic" " hero-video hero-video hero-graphic" " hero-qoute hero-qoute hero-graphic" " . . hero-graphic" " . . hero-graphic" " . . hero-graphic";
  }
  .hero-graphic {
    grid-area: hero-graphic;
    margin: 5.1em 1.2em 0 0;
    padding: 0 0 0 0;
    display: grid;
    object-fit: contain;
  }
  .speaking-header-wrapper {
    position: relative;
    left: 0;
    /*margin-bottom: 30px;*/
    display: block;
    grid-column: -1;
    /* needed for the floated layout */
    clear: both;
  }
  .speaking-header {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 22px;
    /* font-size: calc( 18px + (22 - 18) * ( (100vw - 400px) / ( 1920 - 968))); */
    letter-spacing: 0.22px;
    color: #2E3C4E;
    /*background: #F2F2F2; */
    /* max-width: 921px; */
    width: 42%;
    /* min-width: 702px; */
    position: relative;
    display: grid;
    /* text-align: left; */
    line-height: 1.28;
    padding: 11px 50px 11px 0;
    /* white-space: nowrap; */
    background-image: url(../img/speaker-arrow.svg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    /* width: 100%; */
    /* height: 100%; */
    /*background-size: cover;
			-webkit-transform-style: preserve-3d;
			background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #999 50%, #999 100%);*/
    /* height: 0; */
    /* padding: 0; */
    /* padding-bottom: calc(5% * 3 / 4); */
  }
  .speaking-header span {
    margin-left: 20%;
    margin-left: calc(40%);
  }
  .speaking-header-----:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: -50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 50px;
    border-color: transparent transparent transparent #F2F2F2;
    z-index: 9998;
  }
  /*.triangle-right {
    width: 0;
    height: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    overflow: visible;
		 z-index:9998;
}
.triangle-right:after {
	position:absolute;
  top: 50px;
  right: -50px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-top:-50px;
    margin-left: -50px;

    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid #4679BD;
}*/
  .speaking-grid,
  .book-grid {
    text-align: left;
  }
  .video-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .video-grid .one {
    /*grid-area: one;*/
    grid-column: 0.5;
    /*grid-row: span 2;
		width: 100%;
		height: 80%;
		display: grid;
		grid-template-columns: 4fr 4fr;
		width: calc(100% - 80px);
		width: 100vw;
		max-width: 30em;
		height: calc(100vw * (9/16));
		max-height: calc(30em * (9/16));*/
    width: 33vw;
    height: calc(18.5625vw);
  }
  .video-grid .two {
    /*grid-area: one;*/
    grid-column: 0.66666667;
    /*grid-row: span 2;
		width: 100%;
		height: 80%;
		display: grid;
		grid-template-columns: 4fr 4fr;
		width: calc(100% - 80px);
		width: 100vw;
		max-width: 30em;
		height: calc(100vw * (9/16));
		max-height: calc(30em * (9/16));*/
    width: 33vw;
    height: calc(18.5625vw);
  }
  .video-grid > div {
    position: relative;
    border: 1px solid rgba(100, 100, 100, 0.6);
    background-color: rgba(100, 100, 100, 0.3);
    height: 0;
    /*padding-top: 56.25%;*/
    overflow: hidden;
    place-content: stretch stretch;
    place-items: stretch;
    place-self: center;
    width: 100vw;
    height: calc(56.25vw);
  }
  .video-grid iframe {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    grid-column: -1;
    width: 33vw;
    height: calc(18.5625vw);
  }
  /*videos page*/
  .videos .video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315, 1fr));
    /*grid-template-rows: auto;*/
    grid-auto-rows: repeat(auto-fit, minmax(169px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5.0em 0;
    justify-items: center;
  }
  .videos .video-grid .one {
    /*grid-area: one;*/
    grid-column: 0.5;
    width: 33vw;
    height: calc(18.5625vw);
  }
  .videos .video-grid .two {
    /*grid-area: two;*/
    grid-column: 0.66666667;
    width: 33vw;
    height: calc(18.5625vw);
  }
  .videos .video-grid .three {
    /*grid-area: three;*/
    /*grid-column: 2 / 3;*/
    grid-column: 1;
    grid-row: 2;
    width: 33vw;
    height: calc(18.5625vw);
  }
  .videos .video-grid .four {
    /*grid-area: three;*/
    /*grid-column: 2 / 3;*/
    grid-column: 2;
    grid-row: 2;
    width: 33vw;
    height: calc(18.5625vw);
  }
  .videos .video-grid > div {
    position: relative;
    border: 1px solid rgba(100, 100, 100, 0.6);
    background-color: rgba(100, 100, 100, 0.3);
    height: 0;
    /*padding-top: 56.25%;*/
    overflow: hidden;
    place-content: stretch stretch;
    place-items: stretch;
    place-self: center;
    width: 100vw;
    height: calc(56.25vw);
  }
  .videos .video-grid iframe {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    grid-column: -1;
    width: 33vw;
    height: calc(18.5625vw);
  }
}
@media only screen and (max-width: 767px) {
  hero {
    max-height: calc(72.16666667vh);
  }
  .hero-graphic {
    display: none;
  }
  /*book article .first-column{
	grid-area: first-column;
	margin: 0;
	padding: 0;
	grid-column: 1 / -1;
		grid-row: 1;
}

	book article .second-column{
	grid-area: second-column;
	margin: 0;
	padding: 0;
	grid-column: 1 / -1;
		grid-row: 2;
}

	book article .third-column{
	grid-area: third-column;
	margin: 0;
	padding: 0;
	grid-column: 1 / -1;

}*/
  book article:last-child {
    border-bottom: 0px solid transparent;
    font-size: 18px;
    line-height: 32px;
    display: grid;
    grid-template-columns: 1fr;
    place-content: space-around;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    padding: 40px 0 0;
  }
  .video-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-items: center;
  }
  .video-grid .one {
    /*grid-area: one;*/
    grid-column: -1;
    /*grid-row: span 2;
		width: 100%;
		height: 80%;
		display: grid;
		grid-template-columns: 4fr 4fr;
		width: calc(100% - 80px);
		width: 100vw;
		max-width: 30em;
		height: calc(100vw * (9/16));
		max-height: calc(30em * (9/16));*/
    width: 80vw;
    height: calc(45vw);
  }
  .video-grid .two {
    /*grid-area: one;*/
    grid-column: -1;
    /*grid-row: span 2;
		width: 100%;
		height: 80%;
		display: grid;
		grid-template-columns: 4fr 4fr;
		width: calc(100% - 80px);
		width: 100vw;
		max-width: 30em;
		height: calc(100vw * (9/16));
		max-height: calc(30em * (9/16));*/
    width: 80vw;
    height: calc(45vw);
  }
  .video-grid > div {
    position: relative;
    border: 1px solid rgba(100, 100, 100, 0.6);
    background-color: rgba(100, 100, 100, 0.3);
    height: 0;
    /*padding-top: 56.25%;*/
    overflow: hidden;
    place-content: stretch stretch;
    place-items: stretch;
    place-self: center;
    width: 80vw;
    height: calc(45vw);
  }
  .video-grid iframe {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    grid-column: -1;
    width: 80vw;
    height: calc(45vw);
  }
  /*videos page*/
  .videos .video-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-items: center;
  }
  .videos .video-grid > div {
    position: relative;
    border: 1px solid rgba(100, 100, 100, 0.6);
    background-color: rgba(100, 100, 100, 0.3);
    height: 0;
    /*padding-top: 56.25%;*/
    overflow: hidden;
    place-content: stretch stretch;
    place-items: stretch;
    place-self: center;
    width: 80vw;
    height: calc(45vw);
  }
  .videos .video-grid iframe {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    grid-column: -1;
    width: 80vw;
    height: calc(45vw);
  }
}
@media only screen and (min-width: 500px) {
  home {
    grid-template-columns: 5fr minmax(70%, 6fr) 5fr;
  }
  about {
    grid-template-columns: 1fr minmax(60%, 10fr) 1fr;
  }
  book {
    grid-template-columns: 5fr minmax(60%, 6fr) 5fr;
  }
}
@media only screen and (max-width: 499px) {
  home {
    grid-template-columns: 5% minmax(70%, 6fr) 5%;
  }
  about,
  book {
    grid-template-columns: 5% minmax(70%, 6fr) 5%;
  }
}
@media only screen and (min-width: 968px) {
  #main-header {
    display: grid;
    /*height: 130px;*/
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 80px;
    align-items: center;
    background-color: #fff;
    /*border: 1px solid blue;*/
    z-index: 4;
  }
  #logo {
    /*background-color: lime;*/
    min-width: auto;
    grid-column: span 1;
    margin: 7px 0.2em 0 40px;
  }
  #logo a {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 38px;
    /*font-size : 3.8rem;*/
    line-height: 0.8rem;
    font-size: calc(19.3125px);
    /*color : #2A3035 !important;*/
    color: #133a54 !important;
    letter-spacing: 0.015em;
    white-space: nowrap;
  }
  .vertical-divider {
    color: #DFCB8D;
    font-size: 26px;
    /*font-size: 3.2rem;*/
    font-size: calc(0.33035714em);
    /*line-height: 2.8em;*/
    line-height: 23px;
    margin: 0 5px;
    padding-bottom: .05em;
    vertical-align: top;
    /*border: 1px solid green;*/
    max-height: 28px;
  }
  #slogan {
    display: grid;
    /*background-color: yellow;*/
    grid-column: 0.33333333;
    /*grid-auto-flow: column;*/
    font-size: 24px;
    /*font-size: 2.8rem;*/
    font-size: calc(17.99107143px);
    min-width: 255px;
    min-width: calc(42.5vw);
    /*line-height: 2.15em;*/
    /*line-height: 3.3em;*/
    line-height: 28px;
    color: #000000;
    grid-auto-flow: column;
    justify-content: left;
    /*margin: 0 .1em 0 .1em;*/
    padding-bottom: .01em;
    /*border: 1px solid blue;*/
    white-space: nowrap;
    place-content: center left;
  }
  nav- {
    /*background-color: lime;*/
    grid-column: -6;
    font-size: 20px;
    /*font-size : 2.0rem;*/
    margin: 0 40px;
    color: #0E537A;
    font-size: calc(17.47916667px);
  }
  ul- {
    align-content: center;
    padding: 0;
    list-style: none;
    display: grid;
    justify-content: space-around;
    justify-content: end;
    /*grid-gap: 40px;*/
    /*grid-gap: 1.30em;*/
    grid-gap: 1.10em;
    grid-auto-flow: column;
  }
}
@media only screen and (max-width: 968px) {
  #main-header {
    display: grid;
    /*height: 130px;*/
    height: 80px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 80px;
    align-items: center;
    background-color: #fff;
    /*border: 1px solid blue;*/
    z-index: 100;
  }
  #logo {
    /*background-color: lime;*/
    min-width: auto;
    grid-column: span 1;
    margin: 7px 0.2em 0 30px;
  }
  #logo a {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 28px;
    /*font-size : 3.8rem;*/
    line-height: 0.8rem;
    /*font-size: calc( 38px + (38 - 32) * ( (100vw - 400px) / ( 1920 - 1024) ));*/
    font-size: calc(24.65178571px);
    /*color : #2A3035 !important;*/
    color: #133a54 !important;
    letter-spacing: 0.015em;
    white-space: nowrap;
  }
  .vertical-divider {
    color: #DFCB8D;
    font-size: 26px;
    /*font-size: 3.2rem;*/
    font-size: calc(0.33035714em);
    /*line-height: 2.8em;*/
    line-height: 23px;
    margin: 0 5px;
    padding-bottom: .05em;
    vertical-align: top;
    /*border: 1px solid green;*/
    max-height: 28px;
  }
  #slogan {
    display: grid;
    /*background-color: yellow;*/
    grid-column: 0.33333333;
    /*grid-auto-flow: column;*/
    font-size: 24px;
    /*font-size: 2.8rem;*/
    font-size: calc(17.99107143px);
    min-width: 255px;
    min-width: calc(42.5vw);
    /*line-height: 2.15em;*/
    /*line-height: 3.3em;*/
    line-height: 28px;
    color: #000000;
    grid-auto-flow: column;
    justify-content: left;
    /*margin: 0 .1em 0 .1em;*/
    padding-bottom: .01em;
    /*border: 1px solid blue;*/
    white-space: nowrap;
    place-content: center left;
  }
  nav-- {
    /*background-color: lime;*/
    grid-column: -1;
    font-size: 20px;
    /* font-size: 2.0rem; */
    /* margin: 0 40px; */
    align-items: center;
    justify-content: center;
    place-content: center center;
    color: #0E537A;
    font-size: calc(17.47916667px);
    grid-auto-flow: column;
  }
  ul {
    align-content: left;
    padding: 0;
    list-style: none;
    display: grid;
    /*justify-content: space-around;*/
    /*justify-content: left;*/
    /* grid-gap: 40px; */
    padding: 10px;
    /* grid-gap: 1.30em; */
    /*grid-gap: 1.10em;*/
    grid-auto-flow: column;
  }
}
@media only screen and (min-width: 1407px) {
  .about-grid article {
    display: block;
    height: auto;
    text-align: left;
    /*border: 1px solid red;*/
    -moz-column-count: 2;
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    column-gap: 2em;
  }
  .card-container {
    display: grid;
    padding: 0 0;
    grid-template-columns: repeat(auto-fit, minmax(243px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(322px, 395px));
    grid-column-gap: calc(-8.3125px);
    grid-row-gap: 1ch;
    /* grid-gap: 2rem; */
    /* justify-content: space-around; */
    /* place-items: center center; */
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
    /* place-content: center center; */
    /*border: 2px solid green;*/
  }
  .book-grid .images img {
    padding: 40px 0 0 0;
  }
}
@media only screen and (max-width: 1406px) {
  .about-grid article {
    display: grid;
    text-align: left;
    height: auto;
    -moz-column-count: 1;
    -moz-columns: 1;
    -webkit-columns: 1;
    columns: 1;
    column-gap: 4em;
  }
  .card-container {
    display: grid;
    padding: 0 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(322px, 350px));
    grid-gap: calc(-9.3125vw);
    /*grid-gap: 2rem;*/
    /*justify-content: space-around;*/
    /* place-items: center center;*/
    justify-content: center;
    align-content: center;
    /*display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(163px, 1fr));
  grid-gap: 2rem;*/
    justify-content: space-evenly;
    /*place-content: center center;*/
  }
  book article .first-column {
    grid-area: first-column;
    margin: 0;
    padding: 0;
    grid-column: 0.5;
    grid-row: 1;
  }
  book article .second-column {
    grid-area: second-column;
    margin: 0;
    padding: 0;
    grid-column: -2;
    grid-row: 1;
  }
  book article .third-column {
    grid-area: third-column;
    margin: 0;
    padding: 0;
    grid-column: 2;
    place-content: left;
  }
  .book-grid .images img {
    padding: 0 0 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .card-container {
    display: grid;
    padding: 0 3.5em;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(375px, 403px));
    grid-column-gap: 0;
    grid-row-gap: 40px;
    /* grid-gap: 2rem; */
    /* justify-content: space-around; */
    /* place-items: center center; */
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
    /* place-content: center center; */
    /*border: 2px solid green;*/
  }
  .speaking-header-wrapper {
    position: relative;
    left: 0;
    /* margin-bottom: 30px; */
    display: block;
    grid-column: -1;
    clear: both;
  }
  speaking article {
    /*font-size: 18px;
		line-height: 32px;
		display: grid;
		grid-template-columns: 2fr 1fr;
		place-contents: space-around;
		grid-column-gap: 40px;
		grid-row-gap: 10px;
		padding: 40px 0;
		border-bottom: 2px solid #dfcb8d;*/
    grid-row-gap: 30px;
    grid-template-areas: "presentation-header" "second-column" "first-column";
  }
  .speaking-header-wrapper {
    grid-area: presentation-header;
    position: relative;
    left: 0;
    display: inline-block;
    grid-column: -1;
    clear: both;
    padding: 20px 0;
    background: #F2F2F2;
  }
  .speaking-header {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
  }
  .speaking-header span {
    margin: 0 5%;
    text-align: center;
  }
  speaking article .first-column {
    grid-area: first-column;
    /*margin-left: 15%;*/
    text-align: left;
    margin: 0 5%;
    /*margin-right: calc(5% + 20px);*/
    grid-column: -1;
  }
  speaking article .first-column a {
    text-align: center;
  }
  speaking article .second-column {
    grid-area: second-column;
    margin: 0 5%;
    grid-column: -1;
  }
  book article {
    /*font-size: 18px;
		line-height: 32px;
		display: grid;*/
    grid-template-columns: 1fr;
    /*place-contents: space-around;
		grid-column-gap: 40px;
		grid-row-gap: 10px;
		padding: 40px 0;
		border-bottom: 2px solid #dfcb8d;*/
    grid-row-gap: 30px;
    grid-template-areas: "first-column" "second-column" "third-column";
  }
  book article {
    padding: 40px 20px;
  }
  book article .first-column {
    grid-area: first-column;
    /*margin-left: 15%;*/
    text-align: left;
    margin: 0 1%;
    /*margin-right: calc(5% + 20px);*/
    grid-column: -1;
    grid-row: 1;
  }
  book article .second-column {
    grid-area: second-column;
    margin: 0;
    padding: 0;
    grid-column: -1;
    grid-row: 2;
  }
  book article .third-column {
    grid-area: third-column;
    margin: 0 1%;
    grid-column: -1;
    grid-row: 3;
    place-content: center;
  }
  /*.book-grid .images img {
    padding: 0 0 0 0;
}*/
}
@media only screen and (min-width: 530px) {
  contact {
    display: grid;
    grid-template-areas: "top-header top-header top-header" "header header header" "top-bar top-bar top-bar" "left-column section right-column" "footer footer footer";
    grid-template-rows: 50px 80px 50px 1fr 125px;
    grid-template-columns: minmax(13%, 500px) minmax(74%, 2700px) minmax(13%, 500px);
    /*grid-template-columns: 5fr minmax(70%, 6fr) 5fr;*/
    width: 100%;
    grid-gap: 0;
    height: 100%;
    margin: 0;
  }
  contact #top-bar .cta-presentation {
    display: none;
    height: auto;
  }
}
@media only screen and (max-width: 530px) {
  contact {
    display: grid;
    grid-template-areas: "top-header top-header top-header" "header header header" "top-bar top-bar top-bar" "left-column section right-column" "footer footer footer";
    grid-template-rows: 50px 80px 50px 1fr 125px;
    grid-template-columns: minmax(0%, 0px) minmax(88%, 2700px) minmax(0%, 0px);
    /*grid-template-columns: 5fr minmax(70%, 6fr) 5fr;*/
    width: 100%;
    grid-gap: 0;
    height: 100vh;
    margin: 0;
  }
  .vertical-divider {
    display: none;
  }
  #slogan {
    display: none;
  }
  .cta-presentation {
    display: none;
  }
  /*speaker article .first-column .cta-presentation {
		font-family: Barlow Semi Condensed;
    display: block;
}*/
  speaking article .first-column .cta-presentation {
    display: block;
    /*border: 1px solid green;*/
  }
  speaking article .first-column .cta-presentation .icon-calendar-check:before {
    display: block;
  }
  .page-header {
    font-family: Open Sans;
    font-size: 22px;
    color: #383D44;
    color: #383d44;
    display: grid;
    padding: 8px 0px;
    justify-items: center;
  }
  home {
    display: grid;
    grid-template-areas: "top-header top-header top-header" "header header header" "top-bar top-bar top-bar" "cta cta cta" "hero hero hero" ". . ." "left-column section right-column" ". . ." "footer footer footer";
    grid-template-rows: 50px 80px 50px 1fr 1fr 4.5vw 1fr 40px 1fr;
    /* grid-template-columns: minmax(6%, 500px) minmax(88%, 2700px) minmax(6%, 500px); */
    /* grid-template-columns: 5fr minmax(70%, 6fr) 5fr; */
    width: 100%;
    grid-gap: 0;
    height: 100vh;
    margin: 0;
  }
  cta {
    grid-area: cta;
    display: grid;
    background: #F9F9F9;
    background: #f9f9f9;
    place-items: center center;
    grid-column: -1;
  }
  .cta-presentation-box {
    display: grid;
    font-family: Barlow Semi Condensed;
    font-weight: 600;
    font-size: 28px;
    /*font-size: calc(22px + (27 - 22) * ( (100vw - 400px) / ( 1920 - 1024) ));*/
    letter-spacing: 0.14px;
    color: #702020;
    margin: 20px 0 1.7em 0;
    grid-auto-flow: column;
  }
  .icon-calendar-check:before {
    font-family: "fontawesome-icons";
    display: grid;
    content: '\f274';
    font-weight: 400;
    font-size: 40px;
    /*font-size: calc(20px + (26 - 20) * ( (100vw - 400px) / ( 1920 - 1024) ));*/
    color: #702020;
    margin: 1.2em auto 5px;
    padding: 0px;
    /*left: 20px;
		top: 15px;*/
  }
  cta a:link,
  cta a {
    display: grid;
    background: #F9F9F9;
    background: #f9f9f9;
    place-items: center center;
    /*color: #133a54;*/
    /*color: #0E537A;*/
    text-decoration: none;
  }
  cta a:hover {
    color: #45515B;
    opacity: .8;
    text-decoration: none;
  }
  #top-header {
    grid-area: top-header;
    background: #E2E2E2;
    background: #e2e2e2;
    height: 50px;
    display: grid;
    /* min-width: 100vw; */
    grid-template-columns: repeat(12, 1fr);
    place-items: center center;
  }
  .nav-social-top {
    grid-column: -1;
    font-size: 20px;
    /* font-size: 2.0rem; */
    margin: 0 40px;
    display: grid;
  }
  #top-bar {
    grid-area: top-bar;
    display: grid;
    background: #fff;
    border-bottom: 1px solid #DEDFDD;
    border-top: 1px solid #DEDFDD;
    height: 50px;
    grid-column: span 20;
    z-index: 100;
    place-items: center center;
    /*border: 1px blue solid;*/
    /*display: grid;
		  grid-gap: 5px;
		  grid-template-columns: repeat(3, 100px);
		  grid-template-rows: repeat(2, 100px);
		  justify-content: center;
		  align-content: center;*/
  }
}
@media only screen and (min-width: 500px) {
  .subscribe-box {
    grid-template-columns: auto auto;
    grid-template-areas: "name  email" "subscribe subscribe";
  }
  .subscibe-box-wrap {
    width: calc(-11%);
  }
  .input,
  input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=range]),
  select,
  textarea {
    max-width: 100%;
  }
  .subscribe {
    /*grid-column: span 3;*/
    /*max-width: 120px;*/
    /*margin: .1em 0 0 0;*/
    padding: 0 0 0 0;
    /*max-height: 50px;*/
    place-content: stretch stretch;
    display: grid;
  }
}
@media only screen and (min-width: 968px) {
  home {
    grid-template-columns: 5fr minmax(70%, 6fr) 5fr;
  }
  about,
  book {
    /*grid-template-columns: 3fr minmax(60%, 6fr) 3fr;*/
    grid-template-columns: 2fr minmax(30%, 8fr) 2fr;
    /*grid-template-columns: minmax(max-content, 1fr) minmax(300px, 5fr) 1fr;*/
  }
  .subscribe-box {
    grid-gap: 20px;
    grid-template-columns: auto auto 120px;
    grid-template-areas: "name email subscribe";
    max-width: 100%;
  }
  .subscibe-box-wrap {
    width: calc(35%);
    max-width: 50%;
  }
  .subscribe {
    /*grid-column: span 3;*/
    /*max-width: 120px;*/
    /*margin: .1em 0 0 0;*/
    padding: 0 0 0 0;
    /*max-height: 50px;*/
    place-content: end baseline;
    display: grid;
  }
}
@media (max-width: 1240px) {
  .about-grid article {
    display: grid;
    height: auto;
    -moz-column-count: 1;
    -moz-columns: 1;
    -webkit-columns: 1;
    columns: 1;
    column-gap: 4em;
  }
}
/*# sourceMappingURL=/css/main.css.map */