header {
	grid-area: header;
}

hero {
	background-image: url(../img/background-hero-01-large-color-02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	grid-area: hero;
}

left-column {
	/*background: #C9BFBF;*/
	grid-area: left-column;
}

section {
	/*background: #ABABAB;*/
	grid-area: section;

}

right-column {
	/*background: #C9C9C9;*/
	grid-area: right-column;
}


#top-header, header, #top-bar, cta, hero, left-column, section, right-column, footer {
	padding: 0;
}

#top-header {
	grid-area: top-header;
	background: #E2E2E2;
	background: rgba(226, 226, 226, 1);
	height: 50px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

footer {
	grid-area: footer;
	display: grid;
	box-shadow: 0 500px 0 500px #293233;
	background: #293233;
	background: rgba(41, 50, 51, 1);
	position: relative;
	align-content: center;
	height: auto;
	border-top: 2px solid #b9afae;
}

footer form {
	display: grid;
}

.nav-social-bottom {
	font-size: 20px;
	margin: 0 40px;
	display: block;
}

.nav-social-bottom ul {
	align-content: center;
	grid-column: 1 / -1;
	padding: 20px 0;
	list-style: none;
	justify-content: center;
	grid-gap: 25px;
	grid-auto-flow: column;
	margin: 0 0 0 0;
}

.nav-social-bottom li a, .nav-social-top li a {
	background-color: transparent;
}

.nav-social-bottom li a img, .nav-social-top li a img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	display: grid;
}

.nav-social-bottom li a:hover img, .nav-social-top li a:hover img {
	opacity: .5;

}

.nav-social-bottom li a:active img, .nav-social-top li a:active img {
	opacity: 1;
	color: #a5811c;

}

#top-bar {
	grid-area: top-bar;
	display: grid;
	background: #F9F9F9;
	border-bottom: 1px solid #DEDFDD;
	height: 50px;
	left: 0;
	right: 0;
	grid-column: span 20;
	z-index: 2;
}


.cta-presentation {
	position: relative;
	display: block;
	font-family: Barlow Semi Condensed;
	font-weight: 600;
	font-size: 27px;
	line-height: 1;
	font-size: calc(22px + (27 - 22) * ((100vw - 400px) / (1920 - 1024)));
	letter-spacing: 0.14px;
	color: #702020;
	color: rgb(112, 32, 32);
	margin: .20em 0 .25em 35px;

}

.cta-presentation:before {
	font-family: "fontawesome-icons";
	content: '\f274';
	font-weight: 400;
	font-size: 26px;
	font-size: calc(20px + (26 - 20) * ((100vw - 400px) / (1920 - 1024)));

	position: absolute;
	display: inline-block;
	margin: 1px -35px 4px;
	/*left: 20px;
	top: 15px;*/
}

#top-bar a:link {
	/*color: #133a54;*/
	/*color: #0E537A;*/
	text-decoration: none;
}

#top-bar a:hover {
	color: #45515B;
	opacity: .8;
	text-decoration: none;
}

cta {
	display: none;
}

.cta-presentation-box {
	display: none;

}

.icon-calendar-check:before {
	display: none;

}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;

	border-left: 60px solid green;
}

#readout {
	background-color: white;
	position: fixed;
	z-index: 101;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 50px;
}