/*Yahoo's CSS Reset - should aid in crossbrowser compatibility*/
html{color:#000;background-color:#484848;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}

/*Global*/
body{font-family:Arial,Helvetica,sans-serif;font-size:.9em;line-height:1.35em;}

a{color:#4C82A8;outline:none;}
a:hover{color:#009;}

h3{font-size:1.4em;padding:5px 0px;border-bottom:1px #CCC dotted;}
h4{font-size:1em;padding:0px 0px 3px 0px;letter-spacing:.067em;}
h5{font-size:1em;padding:5px 0px;border-bottom:1px #CCC dotted;}

strong{font-weight:bold;}
em{font-style:italic;}

fieldset{padding:10px;background:#AEAEAE;margin:0 0 10px 0;width:auto;}
fieldset #searchbox{width:91%;}

#wrapper{width:950px;background:#F3F3F3;margin:0 auto;}
#header{color:#333;width:950px;float:left;background:#006;}
#navigation{float:left;width:940px;color:#333;background:#AEAEAE;padding-left:10px;}
#rightcolumn span.searchword{background-color:#FF0;}
.horizlist li{list-style-type:none;display:inline;padding:0 10px;}
.rsslink img{position:relative;padding-left:10px;}
.hidden{display:none;}

/*photos*/
#photos #rightcolumn h3 a{color:#009;}
#photos #rightcolumn h4 a{padding:0px 3px;}
#photos #rightcolumn div.clear{clear:left;padding-top:10px;}
#photos #rightcolumn div.clear div{float:left;clear:none;width:200px;height:200px;overflow:hidden;padding:10px;border:1px #CCC solid;margin:3px;background:#DDD;}
#photos #rightcolumn div.clear div img{border:1px #CCC solid;}
#photos #rightcolumn div.clear div p{font-size:.8em;padding:5px 10px 0px 10px;}

#album #rightcolumn #slflashcontent div.column p,
#album #rightcolumn #slflashcontent div.column img{padding-left:0em;}

/*rightcolumn*/
#rightcolumn{float:right;color:#333;background:#F3F3F3;height:auto;width:689px;display:inline;padding:10px;}
#rightcolumn ul li{font-size:.9em;padding:0px 5px;}
#rightcolumn #noscript p{clear:both;font-size:.8em;background:#CB9677;padding:10px;margin-top:15px;color:#F3F3F3;}
#rightcolumn.noleftcolumn{width:930px;float:left;padding:10px;}
#rightcolumn.noleftcolumn div.article{width:100%;}

/*leftcolumn*/
#leftcolumn{color:#333;background:#F3F3F3;height:auto;width:220px;float:left;padding:10px;}

/*footer*/
#footer{width:930px;clear:both;color:#333;height:1em;background:#AEAEAE;padding:5px 10px 10px 10px;}
#footer #copyright{float:left;clear:none;font-size:.8em;}
#footer #copyright a{color:#009;}
#footer #slogan{float:right;clear:none;font-size:.8em;}

/*vertical menu*/
#leftcolumn #moreservices{border:1px #DDD solid;background:#EEE;}
#leftcolumn #moreservices .first{padding:10px 0 10px 10px;border-bottom:1px #F3F3F3 dotted;background:#DDD;font-weight:bold;font-variant:small-caps;letter-spacing:.067em;}
#leftcolumn #moreservices .button.first a{color:#006;}
#leftcolumn #moreservices .button.first a:hover,
#leftcolumn #moreservices .button.first a:visited{color:#88B76A;}
#leftcolumn #moreservices .button{padding:10px 0 10px 10px;border-bottom:1px #CCC dotted;}
#leftcolumn #moreservices .last{border:none;}
#leftcolumn #moreservices li.button a{display:block;width:200px;text-decoration:none;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:.9em;color:#687642;}
#leftcolumn #moreservices li.button a:hover,
#leftcolumn #moreservices li.button a:visited{color:#335566;}

/*modules*/
.module{background:#6B7687;position:relative;overflow:hidden;margin:0 0 15px 0;}
.module div ul{padding:10px;background:#FFF;}
.module .moduletitle{font-weight:700;color:#FFF;padding:5px 5px 5px 8px;letter-spacing:0.037em;}
.module .moduletitle a{color:#FFF;}
.module .modulefooter{display:inline;font-size:.7em;}

#taglinks ul li{font-size:.8em;}

/*rotators*/
.rotator{height:220px;background-color:#FFF;border-right:1px #CCC solid;border-left:1px #CCC solid;}
#leftcolumn .rotator div{height:220px;width:218px;text-align:center;}
.rotator div img{padding:10px;}
#leftcolumn .rotator div img{max-height:150px;max-width:190px;} 
.rotatorcontrol {text-align:center;font-size:.9em;padding:5px;height:20px;}
.rotatorcontrol a{color:#FFF;padding:8px 4px;}
.rotatorcontrol a.activeSlide{background:#4C82A8;}
.rotatorcontrol p{text-align:center;}

/*bigartmodule*/

#bigartmodule .rotator{width:688px;height:275px;overflow:hidden;border:none;}
#bigartmodule .rotator div{width:688px;}
#bigartmodule .rotator div img{padding:0;}
#bigartmodule .rotatorcontrol{background-color:#AEAEAE;width:678px;}
#bigartmodule .rotatorcontrol a{padding:8px;}
#bigartmodule .rotatorcontrol a.activeSlide{background-color:#333;opacity:0.8;filter:alpha(opacity=80);}
#bigartmodule .bigartcaption{display:none;background-color:#333;color:#FFF;font-size:.8em;position:absolute;bottom:0;z-index:10000;opacity:0.8;filter:alpha(opacity=80);}
#bigartmodule .bigartcaption a, #bigartmodule .bigartcaption a:visited, #bigartmodule .bigartcaption a:hover{color:#FFF;margin:5px 10px;display:block;}

/*view stories*/
#story #rightcolumn p{clear:left;padding:0 0 5px 0;font-size:.9em;text-align:justify;}

#story #rightcolumn .headline{font-weight:700;font-family:verdana;clear:both;float:left;color:#009;}
#story #rightcolumn .date{margin:10px 0;clear:both;float:left;white-space:nowrap;}

#story #rightcolumn #article_image{padding:0;}
#story #rightcolumn .illustration_right{float:right;clear:both;padding:0 0 10px 10px;}
#story #rightcolumn .gmap_rightcol{padding-left:10px;height:200px;width:200px;overflow:hidden;}
#story #rightcolumn .geotaglabel{width:200px;white-space:nowrap;}
#story #rightcolumn .illustration_right #credits{font-size:.7em;}
#story #rightcolumn .illustration_right #caption{font-size:.8em;float:left;clear:both;}
#story #rightcolumn div.article p{padding:0 0 16px 0;}

#story #tags,#story #relatedstories,#story #placedwires,#story #contact{font-size:.9em;}
#story #contact ul li ul li{left:-5px;position:relative;font-size:1em;} 
#story #placedwires li,#story #relatedstories li,#story #tags li{padding:0 5px 0 0;}
#story #placedwires ul,#story #relatedstories ul,#story #tags ul{padding:0 0 0 5px;}
#story #placedwires li,#story #tags li{display:inline;border-right:1px #ccc solid;}
#story #placedwires li.last,#story #tags li.last{border:none;}

#credits{font-size:.8em;color:#006;padding:0 5px;}
#caption{display:block;font-size:.8em;font-style:italic;padding:5px;}

/*sharelink attributes*/

#sharelinks{clear:both;}
#sharelinks ul li{display:inline;font-size:.9em;}
#sharelinks ul li img{display:inline;padding-right:10px;}

/*articles,wires,date*/

#shortlisting3 h3{color:#000;font-variant:small-caps;letter-spacing:.067em;background:#DDD;padding:5px 10px;margin-top:10px;border-bottom:1px #F3F3F3 dotted;}
#home .article,#wires .article{border-bottom:1px #CCC dotted;color:#525252;padding:15px 0;float:left;width:689px;}
#home .last,#wires .last{border:none;}
#home .article p,#wires .article p{clear:left;padding:0px;font-size:.9em;}
#home .article h4 .headline,
#wires .article h4 a{color:#009;font-weight:700;letter-spacing:0;}
#home .article .date,
#wires .article .date,
#story #rightcolumn .date{float:left;font-style:italic;font-size:.8em;color:#A3A3A3;}
#home .article .headline,
#wires .article .headline{color:#009;font-weight:700;padding-top:0px;}
#home .previewimage,
#wires .previewimage{float:right;margin:10px 7px;}
#wires #pagination .newer{padding:0px 7px 0px 0px;border-right:1px #ccc solid;}
#wires #pagination .older{padding:0px 0px 0px 3px;;}
#wires #pagination .newer,
#wires #pagination .older,
#home #rightcolumn #pagination .older{font-size:.9em;}

div.crucialinfo{background:#FFF;padding:10px 10px 10px 30px;font-weight:bold;}
div.crucialinfo h4{font-weight:bold;}

/*tweet page*/
#tweets #rightcolumn h3 {background:#f3f3f3 URL('http://live.psu.edu/images/twitterbird.gif') no-repeat top left;padding-left:55px;}
#tweets #rightcolumn ul li img{padding:5px 5px 5px 0;}
#tweets #rightcolumn ul li {padding:5px 0;}
#tweets #rightcolumn ul#tweetsul li{border-bottom:1px #CCC dotted;background-color:#EEE;margin:3px 0px;}
#tweets #rightcolumn ul#tweetsul img{margin:0px 5px 0px 10px;width:48px;height:48px;}
#tweets #rightcolumn ul#tweetsul .twit{position:absolute;margin:1px 2px;color:#0072BC;letter-spacing:.017em;}
#tweets #rightcolumn ul#tweetsul .date{position:relative;top:-73px;float:right;margin:10px;color:#767A7D;font-style:italic;font-size:.9em;}
#tweets #rightcolumn ul#tweetsul .tweet{position:absolute;margin:19px 2px;width:450px;}
#tweets #rightcolumn h3{border:none;}

/*contact page*/
#contact #rightcolumn,#contact #rightcolumn a{font-size:.9em;}
#contact #rightcolumn h4{padding:5px 0 5px 0;background:#DDD;}
#contact #rightcolumn ul{padding:10px 0px 10px 5px;}
#contact #rightcolumn ul li{display:block;/*inline;*/}
#contact #rightcolumn ul li ul{display:inline;margin-left:10px;}
#contact #rightcolumn h4 span{color:#009;padding:10px;font-weight:700;letter-spacing:0;}

/*youtube*/
#youtube #rightcolumn p{padding:10px 0;}

/*still life*/
#sl .photodate,#sl .photocredit{padding:0 10px;}
#sl .photodate{padding:0 0 10px;}
.sltitle,.sldate{text-align:center;font-weight:500;font-size:.9em;margin:5px;line-height:1.2em;}
.sldate{color:#6B7687;font-size:.8em;}
a,.sltitle a,.sldate a{text-decoration:none;}
#sl .photocaption,
#sl h4,
#album .photocaption,
#album h4,
#image .photocaption,
#image h4{padding:10px;}
#sl #rightcolumn #slflashcontent img,
#sl #rightcolumn #slflashcontent p,
#album #rightcolumn #slflashcontent img,
#album #rightcolumn #slflashcontent p{padding:5px 10px;}
#sl #rightcolumn .archivelink,
#album #rightcolumn .archivelink,
#image #rightcolumn .archivelink{font-size:.9em;padding:10px 0px;}
#sl #rightcolumn .archivelink a,
#album #rightcolumn .archivelink,
#image #rightcolumn .archivelink{color:#009;}
#sl #rightcolumn .archivelink a:hover,
#album #rightcolumn .archivelink a:hover,
#image #rightcolumn .archivelink a:hover{color:#4C82A8;}
#sl #rightcolumn #slflashcontent .photocaption,
#sl #rightcolumn #slflashcontent .photocredit,
#sl #rightcolumn #slflashcontent .yeartaken,
#album #rightcolumn #slflashcontent .photocaption,
#album #rightcolumn #slflashcontent .photocredit,
#album #rightcolumn #slflashcontent .yeartaken
#image #rightcolumn #slflashcontent .photocaption,
#image #rightcolumn #slflashcontent .photocredit,
#image #rightcolumn #slflashcontent .yeartaken{text-align:left;}
#sl #rightcolumn #slflashcontent .photocaption,
#album #rightcolumn #slflashcontent .photocaption,
#image #rightcolumn #slflashcontent .photocaption{font-size:.9em;padding:15px 10px;}
#sl #rightcolumn #slflashcontent .photocredit,
#sl #rightcolumn #slflashcontent .yeartaken,
#album #rightcolumn #slflashcontent .photocredit,
#album #rightcolumn #slflashcontent .yeartaken,
#image #rightcolumn #slflashcontent .photocredit,
#image #rightcolumn #slflashcontent .yeartaken{font-size:.8em;padding:0px 10px;font-style:italic;}
#sl #rightcolumn #slflashcontent .photocredit,
#album #rightcolumn #slflashcontent .photocredit,
#image #rightcolumn #slflashcontent .photocredit{color:#4C82A8;}
#sl #rightcolumn #slflashcontent .yeartaken,
#album #rightcolumn #slflashcontent .yeartaken,
#image #rightcolumn #slflashcontent .yeartaken{color:#AEAEAE;padding:0px 0px 20px 10px;}

/*PSUTXT page*/
#psutxt #rightcolumn p{padding:10px 0;}
#psutxt #rightcolumn h4{font-weight:bold;padding:20px 0;}

/*video page*/
/*
#video #categories{float:left;width:196px;font-size:.85em;}
#video #categories li{border-top:1px #CCC dotted;font-weight:normal;padding:10px;}
#video #categories li.selected{background:#FFF;padding:10px;}
#video #categories li.selected a:hover{color:#000;padding:10px;}
#video #categories li.selected a:visited{color:#000;padding:10px;}
#video #categories li.first{border:none;background:#DDD;padding:10px;}
#video #categories a{color:#333333;display:block;}
#video #categories a:hover{color:#4C82A8;border:none;}
#video #rightcolumn #leftbox{float:left;clear:right;padding:0 0 0 10px;width:724px;}
#video #rightcolumn #leftbox p{padding:10px;}
#video #rightcolumn #leftbox h3{padding:10px;}
#video #logosdiv{font-size:.7em;float:left;clear:both;width:930px;padding-top:45px;}
#video #logosdiv li{display:inline;}
#video #logosdiv p{padding:20px 0;}
#video #logosdiv img{padding:10px 35px;}
#video .poke{z-index:1;}
#video .poke2{z-index:2;}
#video #vidinfo{height:8em;margin-top:4px;}
#video h3#videotitle{background:#DDD;color:#009;font-weight:700;border-bottom:none;font-size:1em;}
#video p#videoshortdesc{color:#525252;background:#DDD;font-size:.8em;}
#video #leftbox a{float:right;font-size:.8em;margin-top:20px;}*/

#videogrid a img{height:90px;width:120px;padding:5px;background:#AEAEAE;border:#000 solid 1px;}
#videogrid a:hover img{background:#0F0;}

/*menu bar search form*/
#searchbutton{color:#FFF;background-color:#006;border-color:#006;border-style:solid;font-size:.8em;}
#searchbox{border-color:#FFF;border-style:solid;font-size:.8em;}
#quicksearchform{width:auto;float:right;clear:right;margin:5px;padding-right:20px;}
#search p.description{clear:both;}

/*search results*/
.searchresult,#resultspaging{padding:10px 0 0 0;font-size:.9em;border-top:1px #CCC dotted;margin-top:10px;}
.searchresult a{color:#009;font-weight:700;}
.searchresult a:hover{color:#4C82A8;}
.searchresult .date{font-style:italic;font-size:.9em;color:#A3A3A3;}
#powersearch ul li{display:inline;padding:0;margin-right:3px;}
#powersearch ul li a{border-left:1px #ccc dotted;padding-left:7px;}
#powersearch .first{font-weight:700;padding:0px 7px;}
#powersearch #sort{background:#E5E5E5;padding:3px 0px;}
#powersearch #type{background:#DDD;padding:3px 5px 3px 0px;position:relative;float:right;bottom:26px;}
#powersearch #type .first{border-left:1px #ccc solid;padding:5px;}

/*menu search box*/

#searchl{width:300px;float:right;margin:5px 0 0 0;display:block;font-size:.8em;}
#searchl ul{list-style:none;float:right;}
#searchl ul li{float:left;color:#FFF;padding:0 8px;border-left:1px solid #FFF;line-height:15px;}
#searchl ul li a{color:#FFF;}
#searchl ul li.noborder{border:none;}

/*this is a cool CSS only drop-down, fly-out menu that works cross browser*/

.menu{width:950px;position:relative;z-index:100;font-family:Arial,Helvetica,sans-serif;font-weight:bold;}

/* hack to correct IE5.5 faulty box model */
* html .menu {width:930px;w\idth:930px;}

/* remove all the bullets, borders and padding from the default list styling */
.menu ul{padding:0;margin:0;list-style-type:none;}

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu li{float:left;position:relative;}

/* style the links for the top level */
.menu a,.menu a:visited{display:block;font-size:11px;text-decoration:none;color:#333;background:#AEAEAE;padding:4px 10px 2px 10px;line-height:2.3em;outline:none;}

/* a hack so that IE5.5 faulty box model is corrected */
* html .menu a, * html .menu a:visited{/*width:130px; w\idth:130px;*/}

/* style the second level background */
.menu ul ul a.drop,.menu ul ul a.drop:visited{background:#d4d8bd bottom right no-repeat;}

/* style the second level hover */
.menu ul ul a.drop:hover{background:#c9ba65 bottom right no-repeat;}
.menu ul ul :hover > a.drop{background:#c9ba65 bottom right no-repeat;}

/* style the third level background */
.menu ul ul ul a,.menu ul ul ul a:visited{background:#e2dfa8;}

/* style the third level hover */
.menu ul ul ul a:hover{background:#b2ab9b;}

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul{visibility:hidden;position:absolute;height:0;}

/* another hack for IE5.5 */
* html .menu ul ul{top:2.4em;t\op:2.4em;}

/* position the third level flyout menu */
.menu ul ul ul{left:85px;top:-1px;width:75px;}

/* position the third level flyout menu for a left flyout */
.menu ul ul ul.left{left:-75px;}

/* style the table so that it takes no ppart in the layout - required for IE to work */
.menu table{position:absolute;top:0;left:0;border-collapse:collapse;}

/* style the second level links */
.menu ul ul a,.menu ul ul a:visited{background:#AEAEAE;color:#000;height:auto;line-height:1em;padding:5px 5px;width:12.5em;}

/* yet another hack for IE5.5 */
* html .menu ul ul a, * html .menu ul ul a:visited{width:12.5em;w\idth:12.5em;}

/* style the top level hover */
.menu a:hover, .menu ul ul a:hover{color:#fff; background:#6B7687;}
.menu :hover > a, .menu ul ul :hover > a{color:#fff;background:#6B7687;}

/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul,.menu ul a:hover ul{visibility:visible;}

/* keep the third level hidden when you hover on first level list OR link */
.menu ul :hover ul ul{visibility:hidden;}

/* make the third level visible when you hover over second level list OR link */
.menu ul :hover ul :hover ul{visibility:visible;}