/* 
Forum Communications Interactive - CMS Theme - Base template
Created by Chris Welle <cwelle@forumcomm.com> the big dummy (-_-)
*/

/* ------------------------------------------
IMPORTANT!!!
global.css, homepage.css, section.css, chrmemenu.css are always called on all pages, they are only in separate files to be easier to organize and edit  
----------------------------------------------*/

@import url('../../../../global_site/template/css/global.css');


body
{
	background-color: #006172;
	color: #000203;
	font-size: 12px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../gfx/bg.gif);
}

/*LINKS
-------------------------------------------------------------------------------- */
a {text-decoration: none; color: #001b2a;}
a:hover {text-decoration: underline;}

.posted_date {font-size: 11px; color: #A52238;}

.photoborder_tb img /* images in article briefs in article brief box */
{
	border: 1px solid #eee; 
	margin: 5px 7px 7px 0; 
	padding: 5px;
}

/* MASTHEAD 
-------------------------------------------------------------------------------- */
#masthead /* goes around everything in masthead and closes after subnav */
{
	background-color: #001b2a;
	color: #76b0bc;
	line-height:1.2em; /* for peek-a-boo bug */
	min-width: 996px;
	width: 996px;
	margin: 0 auto 0 auto;
}

#masthead a {color: #76b0bc;}
#masthead a:hover {/*text-decoration: none;*/}

#masthead #login {margin: 2px 0 2px 15px;}
#masthead .logo {width: 290px; padding: 0; margin: 2px 0 2px 15px;} /* main logo */

#masthead .subHeading {padding: 3px 10px 4px 17px;}
#masthead .subHeading h2 {font-size: 14px; font-weight: bold; margin:0; color:#fff;}
#masthead .subHeading a {color:#FFF; float:right; text-align: none; font-size:14px;}
#masthead .subHeading a:hover {text-decoration: underline;}

/* SEARCH 
-------------------------------------------------------------------------------- */
#masthead_search
{
	margin: 0 5px 5px 0;
	width: 655px;
	padding: 0;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif; /* to keep style from breaking */
}

#masthead_search form {display: inline; overflow: hidden;}

#masthead_search a {color: #000203;}
#masthead_search a:hover {color: #76b0bc; text-decoration: underline;}

#masthead_search .roundtop {background: transparent url(../gfx/search_top.gif) no-repeat top right;}

#masthead_search .roundtopLT
{
	height: 8px;
	width: 20px;
	background: transparent url(../gfx/search_top.gif) no-repeat top left;
}

#masthead_search .mid {background-color: #cec093; padding: 0 5px 0 10px;}

#masthead_search .roundbtm {background: transparent url(../gfx/search_bottom.gif) no-repeat bottom right;}

#masthead_search .roundbtmLT
{
	height: 8px;
	width: 20px;
	background: transparent url(../gfx/search_bottom.gif) no-repeat bottom left;
}

#topSearchPlaceholder {margin-top: 3px;}

.search_btn /* for the mastheadhead search button ONLY */ 
{
	color: #FFF;
	font-size: 14px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	padding: 2px 0 3px 0;
	margin: 0;
	width: 81px;
	font-weight: normal;
	border: 1px solid #1A0800;
	background: #1A0800 url(../gfx/q_bg.gif) repeat-x;
}

.search_textfield /* masthead search bar textfield */ 
{
	background: #FFF;
	width: 340px;
	color: #000203;
	font-size: 14px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	padding: 4px 2px;
	border: 1px solid #1A0800;
	display: inline;
}

/* SEARCH NAV
-------------------------------------------------------------------------------- */
#searchnav /* tab links in masthead search */
{
	font-size: 12px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	height: 20px;
}

#searchnav ul /* search tab nav */
{
	float: left;
	margin: 0;
	padding: 0;
	border-color: #1A0800;
	border-width: 0 0 0 1px;
	border-style: solid;
	white-space: nowrap;
	left: 0;
}

#searchnav li /* search tab nav */
{
	float: left;
	list-style-type: none;
	margin: 0;
	border-color: #1A0800;
	border-width: 0 1px 0 0;
	border-style: solid;
	line-height: 18px;
	height: 20px;
}

#searchnav ul li a
{
	padding: 0 6px;
	width: auto;
	height: 20px;
	vertical-align: middle;
	display: block;
	cursor: pointer;
}

#searchnav ul li a:hover
{
	color: #FFF;
	padding: 0 6px;
	width: auto;
	height: 20px;
	vertical-align: middle;
	background-color: #4A1600;
	background-image: url(../gfx/searchnav_arrow.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	background-position: center bottom;
}

#searchnav li a.current_search
{
	color: #FFF;
	vertical-align: middle;
	background-color: #1A0800;
	background-image: url(../gfx/q_bg.gif);
	background-repeat: repeat-x;
	text-decoration: none;
	background-position: center -1px;
}
#searchnav li a.current_search:hover
{
	background-image: url(../gfx/q_hover.gif);
	background-repeat: repeat-x;
}
/*-- TOPSEARCHPLACEHOLDER NOT USED IN DEFAULT SO I'LL USE IT --*/
#topSearchPlaceholder b {color: #000203;}
#topSearchPlaceholder a {color: #000203;}
#topSearchPlaceholder a:hover {color: #4A1600;}

/* HQ NAV
-------------------------------------------------------------------------------- */
#HQnav {color:#76b0bc; margin: 5px 10px; word-spacing: 5px;}
#HQnav a:link, #HQnav a:active, #HQnav a:visited {color:#76B0BC;} 
#HQnav a:hover {color:#FFF;}


/* NAVIGVATION
-------------------------------------------------------------------------------- */
#navContainer {background-color: #b6aa82; margin-top:3px;}
ul#navBar 
{
	list-style: none;
	padding: 0 5px;	
	margin: 0;
	float: left;
	font-size: 12px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;	
	position: relative;
	z-index: 100;
}

ul#navBar li {float: left; margin: 0; padding: 0 5px 0 0;}

ul#navBar li.current {background-color:#f5f2e8;}
ul#navBar li.current a {color: #000;} /* current tag group */

ul#navBar li.currentOver /* clicked tag group js */
{
	float: left;
	margin: -4px 0 0 0;	
	padding: 2px 5px 1px 0;
	position: relative;
	background-color: #f5f2e8;
	border-style: solid;
	border-width: 1px 1px 0;
	border-color: #a09264;
	-moz-border-radius-topleft: 4px; 
	-webkit-border-top-left-radius: 4px; 
	-moz-border-radius-topright: 4px; 
	-webkit-border-top-right-radius: 4px;
} 


ul#navBar li a
{
	padding: 7px 0 8px 7px;
	margin-right:5px;
	color: #000;
	display: block;
	text-decoration: none;
	float: left;
}

ul#navBar li a:hover {color:#000; text-decoration:underline;}
ul#navBar li.current a:hover {color:#000; text-decoration: underline;}
ul#navBar li.currentOver a:hover {color:#000; text-decoration: underline;}

ul#navBar li span /*--Drop down trigger styles--*/
{ 
	width: 13px;
	height: 29px;
	float: left;
	background: url(../gfx/dropdownArrow.png) no-repeat center top;
}

ul#navBar li span:hover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul#navBar li span.subhoverActive {background: url(../gfx/dropdownArrowClicked.png) no-repeat center top; cursor: pointer;} /*-- for js --*/

ul#navBar li .dropdown 
{
	position: absolute;	
	top: 32px;
	background-color: #f5f2e8;
	display: none;
	z-index:500;
	border-style: solid;
	border-width: 0 1px 1px;
	border-color: #a09264;
}

ul#navBar li .leftAlign {left: -1px;}
ul#navBar li .rightAlign {right: -1px;}

ul#navBar li .dropdown ul {margin: 0; padding: 0; width: 150px; float: left;}
ul#navBar li .dropdown ul li {margin: 0; padding: 0; list-style: none; border:none;}
ul#navBar li .dropdown ul li a {width: 125px; padding-left: 20px; text-transform:capitalize;}
ul#navBar li .dropdown ul li a:hover {background: url(../gfx/dropdownSublinks.png) no-repeat 10px center; color: #222;}


/* FORMS 
-------------------------------------------------------------------------------- */
form {padding: 0; margin: 0;}

.q_small /* small textfield */
{
	background: #FFF;
	width: 100px;
	color: #000203;
	font-size: 14px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	padding: 4px 2px;
	border: 1px solid #1A0800;
	display: inline;
}

.q_medium /* medium textfield */
{
	background: #FFF;
	width: 300px;
	color: #000203;
	font-size: 14px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	padding: 4px 2px;
	border: 1px solid #1A0800;
	display: inline;
	margin: 0;
}

.q_long /* long textfield */ 
{
	background: #FFF;
	width: 340px;
	color: #000203;
	font-size: 14px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	font-weight:normal;
	padding: 4px 0 4px 2px;
	display: inline;
	border: 1px solid #1A0800;
}

.q_date /* textfield mostly for date fields that are smaller */
{
	background: #FFF;
	width: 50px;
	color: #000203;
	font-size: 14px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	padding: 4px 2px;
	border: 1px solid #1A0800;
	display: inline;
}

.q_medtextarea /* medium text area */
{
	background: #FFF;
	width: 300px;
	height: 100px;
	color: #000203;
	font-size: 14px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	padding: 4px 2px;
	border: 1px solid #1A0800;
	display: inline;
}

.q_bigtextarea /* big text area */
{
	background: #FFF;
	width: 510px;
	height: 120px;
	color: #000203;
	font-size: 14px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	padding: 4px 2px;
	border: 1px solid #1A0800;
	display: inline;
}

.q_button  /* all buttons*/
{
	color: #FFF;
	font-size: 14px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	*padding: 2px 0 3px 0;/* ie6 */
	padding: 3px 7px;
	margin: 0;
	font-weight: normal;
	background: #1A0800 url(../gfx/q_bg.gif) repeat-x;
	border-color: #1A0800;
	*border-width: 1px 1px 1px 0;/* ie6 */
	border-width: 1px;
	border-style: solid;
}

.q_dropdown /* can format in IE */ /* all dropdown boxes*/
{
	background: #FFF;
	color: #000203;
	font-size: 14px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	padding: 3px 2px;
	border: 1px solid #1A0800;
	display: inline;
}


#wrap /* goes around content, sidebar, and closes after footer */
{
	background-color: #CEC093;
	width: 996px;
	margin: 0 auto;
	overflow:auto;
}

/* CONTENT & SIDEBAR GRID ELEMENTS
-------------------------------------------------------------------------------- */
#content, #content2 { width: 665px; padding: 10px 0px; background-color: #FFF;} /*contains first two columns, content2 is below leaderboard */
#sidebar, #sidebar2 { width: 320px;} /* contains 3rd column, sidebar2 is below leaderboard */

/* CONTENT & SIDEBAR BOXES 
-------------------------------------------------------------------------------- */
#content .widebox, #content2 .widebox /* box that spans first two columns */
{
	width: 635px;
	margin: 15px 0 0 20px;
	background-image: url(../gfx/boxbg.gif); 
	background-repeat: no-repeat;
	background-position: 100% 100%; 
	padding: 0 5px 10px 0;
	overflow: auto;
}

#content .article_brief_box /* for article briefs or 1st column content */
{ 
	margin: 10px 0 0 20px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #1A0800;
	width: 305px;
}

#content .widget_box, #content2 .widget_box /* widgets in first two columns */
{ 
	margin: 8px 0 0 20px;
	background-image: url(../gfx/boxbg.gif); 
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-color: #FFF;
	padding: 0 7px 10px 0;
	width: 300px;
}

#sidebar .widget_box, #sidebar2 .widget_box {margin:0px 0px 10px 0px; width: 300px; background-color: #FFF; padding: 6px;} /* widgets in 3rd column*/

#content .HtoolBox {width: 325px;} /* make big enough so inside is editable but doesn't break center column */

/* CONTENT FORMATTING
-------------------------------------------------------------------------------- */
#content .widebox h1, #content2 .widebox h1 /* widebox title */
{
	font-size: 16px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	margin: 3px 0;
}

#content .widebox ul, #content2 .widebox ul
{	
	float: left;
	margin: 0;
	padding: 0;
	left: 0;
}

#content .widebox li, #content2 .widebox li
{
	float: left;
	list-style-type: none;
	margin: 0;
	width: 120px;
	height: 25px;
}

#content .article_brief_box h1
{
	font-size: 16px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	font-weight: bold;
	margin: 10px 0 5px 0;
	padding-bottom: 5px;
	line-height: 1.1em;
	color: #000203;
	border-bottom: 1px solid #1A0800;
}

#content .article_brief_box h2, #content .widget_box h2, #content2 .widget_box h2
{
	font-size: 16px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	margin: 3px 0;
}

#content .widget_box h1, #content2 .widget_box h1 /* sub heading */
{
	font-size: 16px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	margin: 3px 0;
	font-weight: bold;
}

#content .article_brief_box p, #content .widget_box p, #content .widebox p, #content2 .widget_box p, #content2 .widebox p
{
	margin: 0 0 5px 0;
	line-height: 17px;
}

#content .article_brief_box ul /* for article brief related content in 1st column */
{
	padding: 0;
	margin: 0 0 0 5px;
	list-style-type: none;
}

#content .widget_box ul, #content2 .widget_box ul /* for bulleted list in any column widget */
{
	padding: 0;
	margin: 0;
}

#content .widget_box li, #content2 .widget_box li /* for bulleted list in any column widget */
{
	line-height: 17px;
	margin: 0 0 0 20px;
	list-style-type: square;
}

/* SIDEBAR BOX FORMATTING
-------------------------------------------------------------------------------- */
#sidebar .widget_box h1, #sidebar2 .widget_box h1 /* sub heading */
{
	font-size: 16px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	margin: 3px 0;
	font-weight: bold;
}

#sidebar .widget_box h2, #sidebar2 .widget_box h2 /* for widget box title */
{
	font-size: 16px;
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	margin: 3px 0 3px;
}

#sidebar .widget_box ul, #sidebar2 .widget_box ul /* bulleted list */
{
	padding: 0;
	margin: 0;
}

#sidebar .widget_box li, #sidebar2 .widget_box li /* bulleted list */
{
	line-height: 17px;
	margin: 0 0 0 20px;
	list-style-type: square;
}

#sidebar .widget_box p, #sidebar2 .widget_box p
{
	margin: 0;
	line-height: 17px;
}

/* ADVERTISING
-------------------------------------------------------------------------------- */
#sidebar .sidead /* large format ad in 3rd column */
{
	margin:0px 0px 10px 0px; 
	width: 300px; 
	background-color: #FFF; 
	padding: 6px;
}

#mastheadLeaderboard /* LEADERBOARD ABOVE MASTHEAD */
{
	background-color:#001b2a;
	text-align:center;
	min-width: 996px;
	width: 996px;
	margin: 0 auto 0 auto;
	text-align:center;
	padding: 5px 0;
}

#wrap .ad /* THE MIDPAGE AD */
{
	text-align:center;
	vertical-align: middle;
	background-color: #001B2A;
	padding: 10px 0;
	margin: 0 auto;
}



/* FOOTER
-------------------------------------------------------------------------------- */
#footer 
{
 	padding: 10px 15px 8px; 
	background-color: #001b2a; 
	font-family: "Franklin Gothic",Arial,Helvetica,sans-serif;
	border-top: 1px solid #001b2a;
	color: #FFF; 
	width: 966px;
	margin: 0 auto;
}

#footer div 	  { text-align: center;}
#footer dl        { font-size: 14px; line-height: 22px; }
#footer dl dt     { float: left; width: 150px; font-weight: bold; clear: left; }
#footer dl dd 	  { margin-left: 160px;}
#footer dl dd a   { color: #FFF; border-right: 1px solid #FFF; padding: 0 5px;}
#footer p 		  { margin: 10px 0; text-align: center;}
#footer p small   { font-size: 12px;}
#footer p small a { color: #FFF; font-weight:bold; }
